/* Original Dark Age theme by @shodty */
/* Love this theme? Say thanks via Paypal: https://paypal.me/RobertLandsburg */

/*---------------------------------------------------------------------------*/
/* MAIN BODY AND BLOCK COLORS */

.roam-body-main,
body {
  background-color: var(--background) !important;
}

.roam-block > span > div {
  background-color: inherit !important;
}

.roam-bullet-closed {
  background-color: var(--closed-bullets) !important;
}

.simple-bullet-inner {
  background-color: var(--bullets) !important;
}

.simple-bullet-inner:hover {
  background-color: var(--icons-hover) !important;
}

.bp3-icon-standard,
.rm-caret {
  color  : var(--links--hover) !important;
  opacity: 1 !important;
}

.rm-caret-hidden {
  opacity: 0 !important;
}

.rm-caret {
  position: relative !important;
  top     : -1.5px !important;
}

.controls {
  position: relative !important;
  top     : 1px !important;
}

.bp3-icon-standard:hover {
  color: var(--icons-hover) !important;
}

.bp3-input,
.bp3-menu .bp3-icon-standard {
  color: var(--background) !important;
}

.version-bullet {
  background-color: var(--bullets) !important;
  color           : var(--body-text) !important;
}

.rm-block-input {
  color           : var(--body-text) !important;
  background-color: var(--sidebar-background);
  padding-left    : 6px;
  border-radius   : 5px;
}

/* Block reference */

.block-ref-count-button {
  color        : var(--icons) !important;
  background   : transparent !important;
  border-bottom: 1.5px solid var(--block-reference-text) !important;
  z-index      : 1000 !important;
  transition   : color 0.3s ease, border 0.3s ease !important;
  opacity      : 1 !important;
  font-family  : var(--header-font) !important;
  margin-right : 6px;
  margin-top   : 2px;
  border-radius: 0;
}

.block-ref-count-button:hover {
  color        : var(--icons-hover) !important;
  background   : transparent !important;
  border-bottom: 1.5px solid var(--block-reference-text) !important;
  z-index      : 1000 !important;
  transition   : color 0.3s ease, border 0.3s ease !important;
}

.rm-block-ref dont-focus-block {
  font-size: var(--main-font-size) !important;
}

.rm-block-ref,
.roam-block .rm-block-ref,
span[style*="color: red"] {
  color             : var(--body-text) !important;
  border-bottom     : none !important;
  border-right-color: var(--references) !important;
  border-right-width: 3px !important;
  border-right-style: solid;
  padding-right     : 2px !important;
  border-left-color : var(--references) !important;
  border-left-width : 3px !important;
  border-left-style : solid;
  padding-left      : 2px !important;
  border-radius     : 5px !important;
  padding-top       : 2px !important;
  padding-bottom    : 4px !important;
}

.rm-block-ref:hover {
  background-color: var(--kanban-column-background) !important;
  transition      : color 0.3s ease;
}

.bp3-icon.bp3-icon-filter[style*="color: rgb(168, 42, 42);"] {
  color: var(--filter-icon) !important;
}

.bp3-input.bp3-minimal.search-input {
  color: var(--body-text) !important;
}

div[style*="position: absolute; z-index: 1000; top: 0px; right: 0px; opacity: 0.5;"] {
  opacity: 1 !important;
}

/* Inline Block References */

.rm-inline-references {
  background-color: transparent;
  border          : transparent;
  box-shadow      : 0 0 3px 1px var(--references);
  border-radius   : 5px;
  padding-top     : 5px;
  padding-bottom  : 5px;
  padding-right   : 20px;
}

.rm-inline-references:before {
  color      : var(--block-reference-text);
  content    : "Block References";
  font-weight: 500 !important;
}

.rm-block-ref.dont-focus-block {
  color: var(--block-reference-text);
}

.rm-zoom-mask {
  color: var(--page-links);
}

.rm-zoom-item-content.rm-zoom-collapsed-item {
  color          : var(--references);
  text-decoration: underline;
}

/* BETTERROAM-LIKE STYLE
Original BetterRoam theme by @linuz90
Love this theme? Say thanks via Paypal: https://www.paypal.me/linuz90 */

.roam-center {
  border       : 1px solid var(--sidebar-background) !important;
  border-radius: 12px !important;
  overflow     : visible !important;
  background   : var(--background) !important;
  margin-right : 6px !important;
  margin-left  : 6px !important;
  padding-left : 0 !important;
  max-height   : 98% !important;
}

.roam-article {
  padding-left : 20px !important;
  padding-top  : 0 !important;
  padding-right: 30px !important;
}

.roam-app,
.roam-body-main.flex-h-box {
  background: var(--sidebar-background) !important;
}

/*---------------------------------------------------------------------------*/
/* TOPBAR  & SIDEBAR STYLE AND COLORS */

#right-sidebar,
.roam-sidebar-container,
.roam-topbar {
  background-color: var(--sidebar-background) !important;
}

.roam-topbar {
  border-bottom: 0;
  padding-right: 3px !important;
}

.roam-topbar > div > div:nth-child(n) {
  margin: 0 !important;
}

.roam-topbar div[style*="flex: 0 0 4px;"],
.roam-topbar div[style*="flex: 0 0 3px"] {
  flex: 0 0 0 !important;
}

.roam-topbar.bp3-popover-wrapper {
  background: var(--sidebar-background) !important;
  z-index   : 10;
}

div[style*="border-bottom: 1px solid rgb(138, 155, 168);"] {
  border-bottom: 1px solid var(--references) !important;
}

div[style*="border-bottom-color: rgb(138, 155, 168);"] {
  border-bottom-color: var(--references) !important;
}

/* Hide sidebar button visibility */
.bp3-icon-menu-closed {
  transition: opacity 0.3s ease !important;
}

/* Hide sidebar button visibility */
.bp3-icon-menu-closed {
  transition: opacity 0.3s ease !important;
}

/* Sidebar dropdown menu */
.rm-autocomplete-result {
  color: var(--dropdown-menu-text) !important;
}

/* Left sidebar text color (CREDIT - Roam-util)*/
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .rm-db-title .expand-icon,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page,
.roam-sidebar-container .rm-db-title-container .rm-db-title,
.starred-pages-wrapper > div > span {
  color: var(--icons);
}

/* Left sidebar hover color (CREDIT - Roam-util)*/
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button:hover,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .top-row:hover {
  background-color: unset;
  color           : var(--icons-hover) !important;
  font-weight     : bold;
}

/* Mobile bar (HT: Azlen) */

#rm-mobile-bar {
  background-color: var(--sidebar-background) !important;
  position        : fixed !important;
}

#rm-mobile-bar .bp3-button i::before,
#rm-mobile-bar .bp3-button::before {
  color: var(--icons) !important;
}

/*---------------------------------------------------------------------------*/
/* FONTS. TEXT STYLING, AND COLORS */

/* Global Font */
body,
div,
textarea {
  font-family            : var(--global-font) !important;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  font-size: var(--main-font-size) !important;
}

em {
  color: var(--italics-color);
}

strong {
  color: var(--bold-color);
}

/* Heading Sizes */
h1 {
  font-size: var(--page-head-font-size) !important;
}

.rm-level1 {
  font-size: var(--h1-font-size) !important;
}

.rm-level2 {
  font-size: var(--h2-font-size) !important;
}

.rm-level3 {
  font-size: var(--h3-font-size) !important;
}

/* Right sidebar h1 */
.level2[style*="margin: 0px"] {
  font-size: var(--sidebar-h1-size) !important;
}

/* Cursor color */
.roam-body .roam-app {
  caret-color: var(--cursor) !important;
}

/* Body text color */
.roam-body .roam-app {
  color: var(--body-text) !important;
}

/* Left Sidebar text color */
.log-button,
.page,
.starred-pages-wrapper {
  color      : var(--sidebar-text) !important;
  font-weight: 600;
  transition : color 0.3s ease;
}

/* Left sidebar text hover color */
.log-button:hover,
.page:hover {
  color          : var(--links-hover) !important;
  text-decoration: none !important;
  transition     : color 0.3s ease;
  background     : transparent !important;
}

/* Left sidebar separator color  */
div[style*="background-color: rgb(57, 75, 89);"] {
  background-color: var(--icons) !important;
}

/* Heading/Header Colors */
h1,
h2,
h3 {
  color: var(--headings) !important;
}

/* Page title & Daily date color */
.level2,
.rm-title-display {
  color                  : var(--page-heading) !important;
  font-family            : var(--header-font) !important;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.roam-log-page .rm-title-display {
  color: var(--daily-heading) !important;
}

.roam-log-page.roam-log-preview h1 {
  color: var(--daily-heading) !important;
}

/* Main link coloring + hover */
a {
  color     : var(--external-links) !important;
  transition: color 0.3s ease;
}

/* Add emoji in front of external links
HT: Can Sar */
.rm-alias-external:before {
  content: '🔗 ';
}

/* Internal Roam Links [[Roam]] & #Roam & #[[Roam]] */
.bp3-text-overflow-ellipsis a,
.rm-page-ref,
.rm-page-ref-link-color,
.rm-pages-title-text strong,
.rm-ref-page-view-title a {
  color      : var(--page-links) !important;
  font-weight: 700;
  transition : color 0.3s ease;
}

.rm-page-ref-brackets {
  color: var(--references);
}

.rm-page-ref-tag {
  color        : var(--hashtags) !important;
  font-weight  : 500;
  padding-left : 2px;
  padding-right: 2px;
  transition   : color 0.3s ease;
}

.rm-page-ref-tag:hover,
.rm-page-ref:hover,
.rm-pages-title-text strong:hover {
  color          : var(--links-hover) !important;
  text-decoration: none;
  transition     : color 0.3s ease;
}

h1.level1 a,
h1.level2 a,
h1.level3 a,
h1.level4 a,
h1.level4 a,
h2.level1 a,
h2.level2 a,
h2.level3 a,
h2.level4 a,
h3.level1 a,
h3.level2 a,
h3.level3 a,
h3.level4 a,
h4.level1 a,
h4.level2 a,
h4.level3 a {
  color      : var(--page-links) !important;
  font-weight: 500;
}

h1.level1 a:hover,
h1.level2 a:hover,
h1.level3 a:hover,
h1.level4 a:hover,
h2.level1 a:hover,
h2.level2 a:hover,
h2.level3 a:hover,
h2.level4 a:hover,
h3.level1 a:hover,
h3.level2 a:hover,
h3.level3 a:hover,
h3.level4 a:hover,
h4.level1 a:hover,
h4.level2 a:hover,
h4.level3 a:hover,
h4.level4 a:hover {
  color      : var(--links-hover) !important;
  font-weight: 500;
}

.rm-page-ref-link-color:hover,
a:focus,
a:hover {
  color          : var(--links-hover) !important;
  text-decoration: none !important;
  transition     : color 0.3s ease;
}

/* Attribute links */
strong[tabindex="-1"] {
  color: var(--attributes-color) !important;
}

/* Block embed */
.rm-embed-container {
  padding    : 0 !important;
  margin-left: -20px !important;
}

.rm-embed-container:hover > .rm-embed-edit {
  right: 6px;
}

.rm-embed-edit {
  margin : 0 !important;
  z-index: 1000;
}

.rm-embed-inner-block-hide {
  margin       : 2px 2px 2px 4px !important;
  background   : var(--kanban-column-background) !important;
  padding      : 3px !important;
  border-radius: 5px;
  box-shadow   : 0 0 2px 1px var(--references);
}

.rm-embed-inner-block-hide:before {
  content     : "Block Embed";
  color       : var(--block-reference-text);
  padding-left: 20px !important;
  font-weight : 500 !important;
}

.rm-embed-inner-block-hide .flex-v-box.roam-block-container.block-bullet-view {
  margin: 0 !important;
}

/* Namespace text color [[roam/css]] when using CTRL+C CTRL+L || CMD+C CMD+L */

.rm-page-ref-namespace-color {
  color      : var(--namespaces) !important;
  font-weight: 600;
  transition : color 0.3s ease;
}

.rm-page-ref-namespace-color:hover {
  color          : var(--links-hover);
  text-decoration: none;
  transition     : color 0.3s ease;
}

/* Highlights */
.roam-highlight,
.roam-highlight:hover {
  color           : var(--highlight-text-color) !important;
  background-color: var(--highlighter);
}

.block-highlight-yellow {
  background: var(--dropdown-menu-background) !important;
}

/* Word Count */
.bp3-button:not([class*="bp3-intent-"]) {
  color      : var(--body-text) !important;
  font-family: var(--secondary-font);
  background : var(--kanban-column-background) !important;
  font-size  : 90% !important;
  transition : color 0.3s ease;
}

.bp3-button:not([class*="bp3-intent-"]):hover {
  transition: color 0.3s ease;
  color     : var(--icons-hover) !important;
}

/* Query */
.rm-query-title {
  background    : var(--sidebar-background) !important;
  color         : var(--block-reference-text) !important;
  font-weight   : 500;
  border-bottom : 1px solid var(--references) !important;
  border-radius : 5px;
  padding-top   : 4px !important;
  padding-bottom: 4px !important;
}

.rm-query {
  box-shadow   : 0 0 2px 1px var(--references);
  border-radius: 5px;
  border       : transparent;
  padding      : 0;
}

.rm-ref-page-view {
  margin-right: 20px !important;
}

/* Alias */
span[style*="background-color: rgb(235, 241, 245);"] {
  background: var(--sidebar-background) !important;
  color     : var(--body-text) !important;
  border    : 1px solid var(--body-text);
  transition: color 0.3s ease, border 0.3s ease;
}

span[style*="background-color:rgb(235, 241, 245);"]:hover {
  background: var(--sidebar-background) !important;
  color     : var(--links-hover) !important;
  border    : 1px solid var(--links-hover);
  transition: color 0.3s ease, border 0.3s ease;
}

button {
  background: transparent !important;
}

/* diagram */
svg[style*="background-color: rgb(86, 112, 134);"] {
  background: var(--closed-bullets) !important;
}

div[style*="background-color: white"] {
  background: var(--sidebar-background) !important;
}

g rect {
  fill: var(--background) !important;

}

rect[fill*="#fff"] {
  fill: var(--links-hover) !important;
}

textarea[autocapitalize*="none"] {
  color: var(--body-text) !important;
}

foreignObject {
  cursor: -webkit-grab;
  cursor: grab;
}

button[style*="border: 0.5px solid rgb(206, 217, 224);"] {
  background: var(--body-text) !important;
}

button[style*="border: none"] {
  background: var(--links-hover) !important;
}

.rm-emoji-button {
  background: transparent !important;
  border    : 1px solid #7C6EAD !important;
}

/* chart */
svg[style*="background-color: white;"] {
  background: transparent !important;
}

g circle {
  fill: var(--links-hover) !important;
}

/* Calculation */

.dont-focus-block.rm-calc-val {
  background   : var(--kanban-column-background);
  padding      : 1px 6px 4px;
  color        : var(--body-text);
  border-radius: 5px;
}

.dont-focus-block.rm-calc-val:before {
  content: "Calc: ";
  color  : var(--bold-color);
}

/* Calendar */

.bp3-datepicker {
  background-color: var(--sidebar-background);
}

.DayPicker-Day:hover {
  background: var(--references) !important;
}

.bp3-divider {
  border-color: var(--references) !important;
}

.bp3-datepicker-caption {
  background-color: var(--body-text) !important;
  border-radius   : 5px !important;
}

.bp3-datepicker-day-wrapper {
  color: var(--body-text) !important;
}

.bp3-datepicker .DayPicker-Day.DayPicker-Day--outside {
  opacity: 0.4;
}

.bp3-icon-chevron-left,
.bp3-icon-chevron-right,
.bp3-icon-double-caret-vertical {
  color: var(--icons) !important;
}

/* Kanban Card Styling */

,
.kanban-column-container {
  background-color: var(--kanban-main-background);
  max-width       : 91%;
  box-shadow      : 0 0 2px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.05) !important;
  border-radius   : 4px !important;
}

.kanban-board {
  background-color: transparent;
  max-width       : 85%;
}

.kanban-title {
  color: var(--links-hover);
}

.kanban-column {
  background-color: var(--kanban-column-background);
  border-radius   : 6px;
  box-shadow      : 0 0 2px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.05) !important;
  border-radius   : 4px !important;
}

.kanban-card {
  background-color: var(--kanban-card-background);
  box-shadow      : 0 0 2px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.05) !important;
  border-radius   : 4px !important;
}

.kanban-card:hover {
  color           : var(--kanban-text-hover);
  background-color: #7C6EAD !important;
  transition      : color 0.3s ease;
  box-shadow      : 0 0 2px var(--icon-hover), 0 4px 6px var(--icon-hover) !important;
  border-radius   : 4px !important;
}

/* Pomodoro */

.rm-pomodoro {
  background  : var(--icons) !important;
  color       : var(--body-text) !important;
  padding-left: 5px;
}

.bp3-button.rm-pomodoro.running {
  background: #E91E63 !important;
  color     : var(--body-text) !important;
}

.dont-focus-block.bp3-button.rm-pomodoro {
  font-family: var(--secondary-font);
}

.bp3-button.rm-pomodoro.break {
  background: #4CAF50 !important;
  color     : var(--body-text) !important;
}
/* JSS warning */
.bp3-button.dont-focus-block {
  background : var(--icons) !important;
  color      : var(--body-text) !important;
  font-family: var(--secondary-font);
  font-weight: Bold;
}

div[style*="background: rgb(255, 243, 205);"] {
  background-color: var(--closed-bullets) !important;
  color           : var(--body-text) !important;
}

.rm-zoom.zoom-path-view {
  margin: 0 !important;
}

.rm-zoom-item-content {
  color: var(--page-links) !important;
}

.rm-zoom-mask {
  background: transparent !important;
}

/*---------------------------------------------------------------------------*/
/* REFERENCE SECTION */

/* Reference Background Color + Spacing Fixes */
.rm-reference-item {
  background-color: transparent;
  margin          : 10px 0;
  padding-bottom  : 10px;
  border-bottom   : 1px solid var(--references);
}

.rm-level1 {
  margin-bottom: 20px;
}

/* Reference Section Divider */
.rm-reference-container {
  border-top : 1px double var(--references);
  padding-top: 15px;
}

/* Daily Notes Divider */
.roam-log-page {
  border-bottom : 1.5px solid var(--references) !important;
  border-top    : 0 !important;
  padding       : 0 !important;
  margin        : 0 !important;
  padding-bottom: 30px !important;
}

.roam-log-page.roam-log-preview {
  color: var(--references) !important;
}

/* Path text color for Linked References */
.parent-path-wrapper {
  color: var(--references);
}

/*---------------------------------------------------------------------------*/
/* SEARCH BOX */

/* Search box background color */
.bp3-input,
.rm-pages-toolbar .toolbar-search-group .search-input {
  background: var(--search-bar-background) !important;
}

/* Search box placeholder text color */
.bp3-input::placeholder {
  color  : var(--search-bar-text);
  opacity: 0.5;
}

.bp3-input.bp3-active,
.bp3-input:focus {
  box-shadow: 0 0 4px 1px var(--references) !important;
}

/* Search box input text color */
.bp3-input-group input {
  color: var(--search-bar-text) !important;
}

/* Dropdown page menu hover highlight */
.rm-menu-item:hover {
  background: var(--dropdown-menu-highlight) !important;
}

/* New page text color */
.rm-new-page {
  color: var(--dropdown-newpage) !important;
}

/* Ctrl-Shift-9 menu */
.bp3-dialog-container.bp3-overlay-content.bp3-overlay-enter-done > div > div > div > div:nth-child(n) > input {
  background-color: var(--background) !important;
  color           : var(--body-text) !important;
  margin-top      : 5px !important;
  padding         : 5px !important;
  border-radius   : 10px !important;
}

.bp3-menu-item {
  color: var(--body-text) !important;
}

.bp3-menu-item.bp3-active,
.bp3-menu-item:hover {
  background-color: var(--background) !important;
}

/*---------------------------------------------------------------------------*/
/* ALL PAGES STYLING */

/* Top bar size fixes */
.rm-all-pages .table .rm-pages-row .rm-pages-checkbox-col {
  padding-right: 0 !important;
}

/* Row background color */
.rm-pages-row.rm-pages-row-header {
  background-color: var(--sidebar-background) !important;
  border-bottom   : 1px solid var(--links-hover);
}

.rm-pages-row-highlight {
  background-color: var(--background) !important;
}

.title-children-text {
  color: var(--links-hover) !important;
}

.bp3-text-overflow-ellipsis a:hover {
  color          : var(--links-hover) !important;
  text-decoration: none;
  transition     : color 0.3s ease;
}

.sorted-header-text {
  color: var(--icons-hover);
}

.bp3-icon.bp3-icon-chevron-down.sort-button.desc.focused {
  color: var(--icons-hover);
}

.bp3-icon.bp3-icon-chevron-up.sort-button.focused {
  color: var(--icons-hover);
}

.rm-zoom-chevron {
  color: var(--icons) !important;
}

/* Title Header */
.bp3-text-overflow-ellipsis,
.rm-pages-col,
.rm-pages-sort-header {
  font-size: 0.85em !important;
  color    : var(--links-hover);
}

/* Mentions Pill */
.rm-clickable-pill,
.rm-clickable-pill.level1-pill,
.rm-clickable-pill.level2-pill,
.rm-clickable-pill.level3-pill,
.rm-clickable-pill.level4-pill {
  color        : var(--background);
  background   : var(--all-pages-mentions);
  opacity      : 1 !important;
  padding      : 2px 10px !important;
  width        : 42px;
  border-radius: 2px;
}

.rm-clickable-pill.level1-pill {
  background: var(--all-pages-mentions);
  filter: hue-rotate(-10deg);
}

.rm-clickable-pill.level3-pill {
  background: var(--all-pages-mentions);
  filter: hue-rotate(-20deg);
}

.rm-clickable-pill.empty-pill {
  color     : #F2F2F2;
  background: var(--background);
}

.rm-clickable-pill:hover {
  background: var(--links-hover);
}

/* Checkbox */
.bp3-control input:checked ~ .bp3-control-indicator {
  background: rgb(27, 159, 28);
}

.bp3-control input:checked ~ .bp3-control-indicator:hover {
  background: rgb(1, 122, 69);
}

.bp3-control.bp3-checkbox .bp3-control-indicator {
  border-radius: 25px;
}

/* Dropdown Menu Styling */
.bp3-elevation-3,
.bp3-menu,
.bp3-popover-content {
  background-color: var(--dropdown-menu-background) !important;
  color           : var(--page-links) !important;
}

.bp3-menu {
  border-radius: 10px;
  padding      : 2px 8px 8px;
}

.bp3-popover-content {
  box-shadow   : 0 2px 4px rgba(0, 0, 0, 0.6);
  border-radius: 10px !important;
}

.bp3-elevation-3 .dont-unfocus-block:hover,
.bp3-menu a:hover {
  background: var(--dropdown-menu-highlight);
}

.bp3-elevation-3 .dont-unfocus-block:hover .bp3-text-overflow-ellipsis {
  color          : var(--links-hover) !important;
  text-decoration: none;
  transition     : color 0.3s ease;
}

.bp3-menu-item-label {
  color: #F2F2F2 !important;
}

.bp3-elevation-3 .dont-unfocus-block[style*="background-color: rgb(213, 218, 223);"],
.bp3-popover-content .rm-menu-item[style*="background-color: rgb(213, 218, 223);"] {
  background-color: var(--dropdown-menu-highlight) !important;
}

.bp3-text-overflow-ellipsis {
  color: var(--dropdown-menu-text) !important;
}

button[style*="padding: 4px 8px;"] {
  color: black;
}

.bp3-input.bp3-round.bp3-minimal.search-input {
  background: var(--sidebar-background) !important;
}

/* Button Styling */
.bp3-button {
  background-color: transparent;
  text-transform  : initial;
  /*margin-right: 5px;*/
  border          : 0;
}

.bp3-button[class*="bp3-icon-"]::before,
.bp3-icon-filter,
.bp3-button.bp3-minimal.bp3-small,
.bp3-icon.bp3-icon-calendar.filter-icon,
.bp3-icon.filter-icon.bp3-icon-eye-open,
.bp3-button.bp3-icon-calendar,
.bp3-icon.bp3-icon-sort {
  color     : var(--icons) !important;
  background: transparent !important;
  opacity   : 1;
}

.bp3-button[class*="bp3-icon-"]:hover,
.bp3-button[class*="bp3-icon-"]:hover::before,
.bp3-icon-filter:hover,
.bp3-button.bp3-minimal:hover,
.bp3-icon.bp3-icon-calendar.filter-icon:hover,
.bp3-icon.filter-icon.bp3-icon-eye-open:hover,
.bp3-icon.bp3-icon-sort:hover {
  background: transparent !important;
  transition: background 0.1s ease, color 0.3s ease;
  color     : var(--icons-hover) !important;
  opacity   : 1;
}

.bp3-popover-content .bp3-button {
  background : var(--icons) !important;
  font-weight: bold;
}

/* Remove shadow border around calendar icon */
.bp3-button:not([class*="bp3-intent-"]),
.bp3-button:not([class*="bp3-intent-"]):hover {
  box-shadow: none;
}

/*---------------------------------------------------------------------------*/
/* WIDTH FIXES */

.rm-block-text,
.roam-article,
.roam-block-container,
.roam-center {
  max-width: 100% !important;
}

#rm-log-container {
  padding-right: calc((100% - var(--reduce-padding-right)) / 2) !important;
  padding-left : calc((100% - var(--reduce-padding-left)) / 2) !important;
}

div[style*="padding-right: calc((100% - 568px) / 2); padding-left: calc((100% - 1032px) / 2);"] {
  padding-right: calc((100% - var(--reduce-padding-right)) / 2) !important;
  padding-left : calc((100% - var(--reduce-padding-left)) / 2) !important;
}

div[style*="padding-right: calc((100% - 800px) / 2); padding-left: calc((100% - 800px) / 2);"] {
  padding-right: calc((100% - var(--reduce-padding-right)) / 2) !important;
  padding-left : calc((100% - var(--reduce-padding-left)) / 2) !important;
}

/* WIDTH FIXES - safari and mobile or iPad*/

div[style*="padding-right: calc(0.5 * (100% - 568px)); padding-left: calc(0.5 * (100% - 1032px));"] {
  padding-right: calc(0.5 * (100% - var(--reduce-padding-right))) !important;
  padding-left : calc(0.5 * (100% - var(--reduce-padding-left))) !important;
}

div[style*="padding-right: calc(0.5 * (100% - 800px)); padding-left: calc(0.5 * (100% - 800px));"] {
  padding-right: calc(0.5 * (100% - var(--reduce-padding-right))) !important;
  padding-left : calc(0.5 * (100% - var(--reduce-padding-left))) !important;
}

/* David's flex width fix */
.roam-center {
  flex-basis: auto !important;
  resize    : horizontal !important;
  overflow  : auto !important;
}

/*---------------------------------------------------------------------------*/
/* CODEBLOCK */
/* Dracula CodeMirror theme from https://github.com/codemirror/CodeMirror/blob/master/theme/dracula.css */

.cm-s-default .CodeMirror-gutters,
.cm-s-default.CodeMirror {
  background-color: #282a36 !important;
  color           : #f8f8f2 !important;
  border          : none;
  border-radius   : 6px;
}

.cm-s-default .CodeMirror-gutters {
  color: #282a36;
}

.cm-s-default .CodeMirror-cursor {
  border-left: solid thin #f8f8f0;
}

.cm-s-default .CodeMirror-linenumber {
  color: #6D8A88;
}

.cm-s-default .CodeMirror-selected {
  background: rgba(255, 255, 255, 0.10);
}

.cm-s-default .CodeMirror-line > span > span::selection,
.cm-s-default .CodeMirror-line > span::selection,
.cm-s-default .CodeMirror-line::selection {
  background: rgba(255, 255, 255, 0.10);
}

.cm-s-default .CodeMirror-line > span > span::-moz-selection,
.cm-s-default .CodeMirror-line > span::-moz-selection,
.cm-s-default .CodeMirror-line::-moz-selection {
  background: rgba(255, 255, 255, 0.10);
}

.cm-s-default span.cm-comment {
  color: #6272a4;
}

.cm-s-default span.cm-string,
.cm-s-default span.cm-string-2 {
  color: #f1fa8c;
}

.cm-s-default span.cm-number {
  color: #bd93f9;
}

.cm-s-default span.cm-variable {
  color: #50fa7b;
}

.cm-s-default span.cm-variable-2 {
  color: white;
}

.cm-s-default span.cm-def {
  color: #50fa7b;
}

.cm-s-default span.cm-operator {
  color: #ff79c6;
}

.cm-s-default span.cm-keyword {
  color: #ff79c6;
}

.cm-s-default span.cm-atom {
  color: #bd93f9;
}

.cm-s-default span.cm-meta {
  color: #f8f8f2;
}

.cm-s-default span.cm-tag {
  color: #ff79c6;
}

.cm-s-default span.cm-attribute {
  color: #50fa7b;
}

.cm-s-default span.cm-qualifier {
  color: #50fa7b;
}

.cm-s-default span.cm-property {
  color: #66d9ef;
}

.cm-s-default span.cm-builtin {
  color: #50fa7b;
}

.cm-s-default span.cm-type,
.cm-s-default span.cm-variable-3 {
  color: #ffb86c;
}

.cm-s-default .CodeMirror-activeline-background {
  background: rgba(255,255,255,0.1);
}

.cm-s-default .CodeMirror-matchingbracket {
  text-decoration: underline;
  color          : white !important;
}

.CodeMirror * {
  font-family: var(--secondary-font);
}

/*---------------------------------------------------------------------------*/
/* LEGACY DARK AGE STUFF
(Not sure what this stuff does, leaving in case it breaks something) */

/* Menu Overlay fix */
.bp3-elevation-3 {
  z-index: 2000 !important;
}

/* Original code block CSS had this */
.roam-block.dont-unfocus-block.hoverparent.rm-block-text.rm-pomodoro:first-child {
  padding-right: 15px !important;
}
/*---------------------------------------------------------------------------*/
/* OPTIONAL FIXES */

/* Align vertical lines and remove notches (HT: Hasan Yalcinkaya) */
.block-border-left {
  margin-left  : 6px;
  border-radius: 0;
  padding      : 0 !important;
  border-color : var(--references) !important;
}

/* Remove second small line (HT Hasan Yalcinkaya) */
.rm-reference-container .dont-focus-block {
  border-top: 0;
}

/* Left sidebar hover size */
div.roam-sidebar-container[style*="box-shadow"] {
  bottom    : 0 !important;
  box-shadow: unset !important;
}

/* Compact formatting */
.log-button,
.page,
.starred-pages-wrapper,
td {
  line-height: normal !important;
}

/* Vertical centering Horizontal rules and headings  */
hr {
  margin-top   : 10px;
  margin-bottom: 0;
}

h3.rm-level3 {
  margin-top: -3px !important;
}

h2.rm-level2 {
  margin-top: -4px !important;
}

h1.rm-level1 {
  margin-top: -5px !important;
}

span[style*="margin-top: 4px;"] {
  margin-top: 3px !important;
}

/* ToDo Checkbox Fixes */

.check-container input:checked ~ .checkmark {
  background-color: #FFFFFF;
  background-color: rgb(27, 159, 28);
}

.check-container:hover input ~ .checkmark {
  background-color: var(--icons);
}

.check-container {
  position     : relative !important;
  top          : -5.5px !important;
  padding-right: 2px;
}

/* Scrollbar improvements
HT: Palash Karia */

div::-webkit-scrollbar-track {
  background-color: transparent !important;
}

div::-webkit-scrollbar-thumb {
  background-color: var(--icons)!important;
}

div::-webkit-scrollbar {
  width        : 5px;
  height       : 5px;
  border-radius: 8px;
}

div::-webkit-scrollbar-track {
  background   : transparent;
  border-radius: 20px;
}

div::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border          : 5px var(--icons-hover) solid;
}

/* Hide mobile bar on iPad */
@media (min-device-width : 1024px) {
  #rm-mobile-bar {
    opacity: 0 !important;
  }
}

/* Compact borderless references and queries */

.rm-reference-item {
  padding: 0 !important;
  margin : 0 !important;
  border : 0 !important;
}

.rm-ref-page-view {
  padding-bottom: 10px !important;
}

.flex-h-box.rm-title-arrow-wrapper {
  padding-bottom: 3px !important;
}

/*---------------------------------------------------------------------------*/
/* MERMAID Customization */

.bp3-card.dont-focus-block,
.rm-mermaid {
  background: var(--sidebar-background) !important;
}

.bp3-card {
  background: var(--background) !important;
}
/*---------------------------------------------------------------------------*/
/* MISCELLANEOUS MENUS, BUTTONS, POP-UPS */

.bp3-dialog-container.bp3-overlay-content.bp3-overlay-appear-done.bp3-overlay-enter-done {
  color: var(--body-text) !important;
}

.bp3-button.bp3-intent-danger {
  color     : var(--body-text) !important;
  background: #E91E63 !important;
}

.bp3-dialog-container.bp3-overlay-content.bp3-overlay-enter-done {
  color: var(--body-text) !important;
}

/*---------------------------------------------------------------------------*/
/* HELP BUTTON / POPUP */

.bp3-button.bp3-minimal {
  background-color: transparent !important;
  padding         : 0 !important;
}

#buffer {
  background: transparent !important;
  right     : 7px !important;
  bottom    : 10px !important;
}

#buffer .bp3-popover-target > .bp3-button {
  background: rgba(0, 0, 0, 0.1);
  height    : 30px;
  width     : 30px;
}

#buffer > div {
  z-index      : 99999 !important;
  backdrop-filter: blur(30px) !important;
  -webkit-backdrop-filter: blur(30px);
  border-radius: 10px;
  padding      : 2px 8px 8px;
  box-shadow   : 0 8px 14px rgba(0, 0, 0, 0.6);
}

#buffer > div .bp3-button::before {
  color: #FFFFFF !important;

}

#buffer .help-title {
  color: var(--page-links) !important;
}

#buffer .help-sub-title {
  color: var(--italics-color) !important;
}

#buffer span {
  color: rgba(255, 255, 255, 0.8) !important;
}

#buffer a {
  text-decoration: underline;
  color          : var(--external-links) !important;
}

#buffer a:hover {
  opacity: 0.5;
}

/*---------------------------------------------------------------------------*/
/* GRAPH VIEW */

/* you can't actually style the graph view because it uses canvas elements, but we *can* apply CSS filters to it to slightly change the appearance */
canvas[data-id="layer2-node"] {
  /*filter: invert(1) drop-shadow(0px 3px 4px rgba(0,0,0,0.1));*/
  filter: invert(1) hue-rotate(110deg) saturate(2.5);
  opacity   : 0.3;
  transition: opacity 0.2s ease-out;
}

*[id*="cyto-wrapper"]:hover canvas[data-id="layer2-node"] {
  opacity: 1;
}
/*---------------------------------------------------------------------------*/
/* BETTER SIDEBAR */

.sidebar-content {
  background-color: var(--background) !important;
  border-radius   : 12px !important;
  margin-left     : 4px !important;
  margin-right    : 6px !important;
  padding         : 5px !important;
}

#roam-right-sidebar-content {
  max-height: 98% !important;
}

#roam-right-sidebar-content > div > div:nth-child(n) > div {
  padding-top   : 11px !important;
  padding-bottom: 11px !important;
}

/* Hide close button if sidebar page is pinned */

.pinned + .bp3-icon-cross {
  display: none;
}
/* Kill Right sidebar top gap and button */
#right-sidebar div[style*="padding: 8px;"] {
  padding: 0 !important;
}

#right-sidebar > div.flex-h-box > button {
  display: none;
}

/*---------------------------------------------------------------------------*/
/* DB DROPDOWN SELECTOR */
.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .menu-title {
  color: var(--dropdown-menu-text) !important;
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .setting {
  background: transparent !important;
}

.bp3-icon.bp3-icon-cog.icon.settings {
  color         : var(--icons) !important;
  padding-bottom: 3px !important;
}

#app .roam-app .roam-sidebar-container.noselect .flex-h-box.top-row .bp3-menu-item.setting > a,
#app .roam-app .roam-sidebar-container.noselect .flex-h-box.top-row a:nth-child(n) > li {
  color  : var(--body-text) !important;
  opacity: 1 !important;
}

#app .roam-app .roam-sidebar-container.noselect .flex-h-box.top-row .bp3-menu-item.setting > a:hover,
#app .roam-app .roam-sidebar-container.noselect .flex-h-box.top-row > div > div > span > div > div > div > div > ul > li:nth-child(n):hover,
#app .roam-app .roam-sidebar-container.noselect .flex-h-box.top-row a:nth-child(n) > li:hover {
  background-color: var(--dropdown-menu-highlight) !important;
}

#app .roam-app .roam-sidebar-container.noselect .flex-h-box.top-row > div > div > span > div > div > div > div > ul > div > li:nth-child(n) {
  color: var(--page-links) !important;
}

#app .roam-app .roam-sidebar-container.noselect .flex-h-box.top-row > div > div > span > div > div > div > div > ul > li:nth-child(n) {
  color: var(--bold-color) !important;
}

#app .roam-app .roam-sidebar-container.noselect .flex-h-box.top-row > div > div > span > div > div > div > div > ul {
  opacity      : 1 !important;
  border-radius: 8px !important;
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown {
  border-radius: 10px;
  box-shadow   : 0 1px 5px rgba(0, 0, 0, 0.6);
}
/*---------------------------------------------------------------------------*/
/* UPDATE ALERTS AND VARIOUS SPECIAL MENUS */
body > div.bp3-portal > div > div > span > div > span > strong,
body > div:nth-child(10) > div > div > span > div > span > strong {
  color: var(--body-text) !important;
}

body > div:nth-child(10) > div > div {
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px);
  border-radius: 5px;
  box-shadow   : 0 1px 5px rgba(0, 0, 0, 1);
}

body > div.bp3-portal > div > div > div > button > span > svg > path,
body > div:nth-child(10) > div > div > div > button > span > svg > path {
  color: var(--body-text) !important;
}

/* Share menu */
.flex-h-box.permission-change-container > div:nth-child(n) > div > textarea {
  background-color: var(--background) !important;
  padding         : 5px !important;
  border          : transparent;
  border-radius   : 5px;
  margin-top      : 10px;
}

/*---------------------------------------------------------------------------*/
/* FIX SELECTION COLOR AND BLOCK-HIGLIGHTS */
.block-highlight-blue {
  background-color: var(--closed-bullets) !important;

}

::selection {
  background-color: #BEB9C8 !important;
}
/*---------------------------------------------------------------------------*/
/* ATTRIBUTE TABLE */

.roam-table .rm-block-ref,
.roam-table .rm-block-ref:hover {
  border-color: var(--background) !important;
  background  : transparent !important;
}

span[style*="background-color: rgb(14, 90, 138);"] {
  background-color: unset !important;
  border-radius   : 5px;
}
/*---------------------------------------------------------------------------*/
