/* Credit: Malcolm Ocean */

.roam-sidebar-content > .flex-h-box:first-child:after,
.roam-topbar .flex-h-box > div:nth-child(2):after {
    content: "";
    display: inline-block;
    position: relative;
    top: -35px;
    width: 100px;
    height: 25px;
    background: url(https://forum.daobase.org/uploads/default/original/1X/47dcc015d6eded33fc66ed6843db38a4d6ecd8f1.png) center no-repeat;
    background-size: 125px auto;
    padding-left: 10px;
    margin-left: 0px;
}

.roam-topbar .flex-h-box > div:nth-child(2):after {
  top: -75px;
  margin-left: 10px;
  /*
  filter: invert(1); /**/
}
