@import url('https://abhayprasanna.github.io/better-dark-age.css');

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono|Bitter|Work+Sans');

@media (prefers-color-scheme: light) {
  :root {
    /* FONTS */
    --global-font             : 'Work Sans', sans-serif;
    --secondary-font          : 'Noto Sans Mono', monospace;
    --header-font             : 'Bitter', serif;
    /* WIDTH FIXES - default 568px,1032px - increase to increase WIDTH */
    --reduce-padding-right    : 3400px;
    --reduce-padding-left     : 3400px;
    /* COLORS - One light*/
    --page-links              : #283593;
    --attributes-color        : #986801;
    --external-links          : #50A14E;
    --links-hover             : #E4564A;
    --hashtags                : #A626A4;
    --body-text               : #292D31;
    --italics-color           : #E4564A;
    --bold-color              : #0184BC;
    --highlight-text-color    : #292D31;
    --highlighter             : #FFFF80;
    --background              : #FAFAFA;
    --sidebar-background      : #EAEAEB;
    --sidebar-text            : #292D31;
    --page-heading            : #283593;
    --daily-heading           : #283593;
    --heading1                : #292D31;
    --heading2                : #292D31;
    --heading3                : #292D31;  
    --bullets                 : #3F51B5;
    --closed-bullets          : #3F51B577;
    --references              : #3F51B5;
    --block-reference-text    : #0184BC;
    --namespaces              : #E4564A;
    --all-pages-mentions      : #0184BC;
    --cursor                  : #292D31;
    --icons                   : #3F51B5;
    --icons-hover             : #E4564A;
    --filter-icon             : #50A14E;
    /* FONT SIZES */
    --page-head-font-size     : 2.2em;
    /* DROPDOWN MENU */
    --dropdown-menu-background: #EAEAEB;
    --dropdown-menu-highlight : #FAFAFA;
    --dropdown-menu-text      : #292D31;
    --dropdown-newpage        : #0184BC;
    /* SEARCH BAR */
    --search-bar-background   : #F7F8FA;
    --search-bar-text         : #292D31;
    /* KANBAN CARD COLORS */
    --kanban-main-background  : #FAFAFA;
    --kanban-column-background: #EAEAEB;
    --kanban-card-background  : #FAFAFA;
    --kanban-text-hover       : #E4564A;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    /* FONTS */
    --global-font             : 'Work Sans', sans-serif;
    --secondary-font          : 'Noto Sans Mono', monospace;
    --header-font             : 'Bitter', serif;
    /* WIDTH FIXES - default 568px,1032px - increase to increase WIDTH */
    --reduce-padding-right    : 3400px;
    --reduce-padding-left     : 3400px;
    /* COLORS (Material Dark theme) */
    --page-links              : #BB86FC;
    --attributes-color        : #FFFF80;
    --external-links          : #8AFF80;
    --links-hover             : #03DAC6;
    --hashtags                : #FE7FBF;
    --body-text               : #A49C92;
    --italics-color           : #03DAC6;
    --bold-color              : #A49C92;
    --highlight-text-color    : #000000;
    --highlighter             : #FFFF80;
    --background              : #000000;
    --sidebar-background      : #121212;
    --sidebar-text            : #A49C92;
    --page-heading            : #A49C92;
    --daily-heading           : #A49C92;
    --headings                : #A49C92;
    --bullets                 : #A49C92;
    --closed-bullets          : #A49C9291;
    --references              : #A49C92;
    --block-reference-text    : #A49C92;
    --namespaces              : #03DAC6;
    --all-pages-mentions      : #A49C92;
    --cursor                  : #A49C92;
    --icons                   : #A49C92;
    --icons-hover             : #92FFFF;
    --filter-icon             : #8AFF80;
    /* FONT SIZES */
    --page-head-font-size     : 2.2em;
    /* DROPDOWN MENU */
    --dropdown-menu-background: #121212;
    --dropdown-menu-highlight : #000000;
    --dropdown-menu-text      : #A49C92;
    --dropdown-newpage        : #A49C92;
    /* SEARCH BAR */
    --search-bar-background   : #000000;
    --search-bar-text         : #A49C92;
    /* KANBAN CARD COLORS */
    --kanban-main-background  : #000000;
    --kanban-column-background: #121212;
    --kanban-card-background  : #000000;
    --kanban-text-hover       : #03DAC6;
  }
}
