@import url('https://abhayprasanna.github.io/better-dark-age.css');

/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css?family=Nunito|Fira+Code|Bitter');

:root {
  /* FONTS */
  --global-font             : 'Nunito', sans-serif;
  --secondary-font          : 'Fira Code', monospace;
  --header-font             : 'Bitter', serif;
  /* WIDTH FIXES - default 568px,1032px - increase to increase WIDTH */
  --reduce-padding-right    : 3400px;
  --reduce-padding-left     : 3400px;
  /* COLORS (HT: Jack Laing for [[Dracula Pro]] color theme) */
  --page-links              : #9580FF;
  --attributes-color        : #FFFF80;
  --external-links          : #8AFF80;
  --links-hover             : #F2F2F2;
  --hashtags                : #FE7FBF;
  --body-text               : #F2F2F2;
  --italics-color           : #92FFFF;
  --bold-color              : #FF9580;
  --highlight-text-color    : #1B1A23;
  --highlighter             : #FFFF80;
  --background              : #1B1A23;
  --sidebar-background      : #2B2640;
  --sidebar-text            : #F2F2F2;
  --page-heading            : #9580FF;
  --daily-heading           : #9580FF;
  --headings                : #F2F2F2;
  --bullets                 : #7C6EAD;
  --closed-bullets          : #313340;
  --references              : #7C6EAD;
  --block-reference-text    : #FF9580;
  --namespaces              : #81FFEA;
  --all-pages-mentions      : #FF9580;
  --cursor                  : #F2F2F2;
  --icons                   : #7C6EAD;
  --icons-hover             : #81FFEA;
  --filter-icon             : #8AFF80;
  /* FONT SIZES */
  --main-font-size          : 1em;
  --page-head-font-size     : 2.2em;
  --h1-font-size            : 2em;
  --h2-font-size            : 1.6em;
  --h3-font-size            : 1.2em;
  --sidebar-h1-size         : 2em;
  /* DROPDOWN MENU */
  --dropdown-menu-background: #2B2640;
  --dropdown-menu-highlight : #1B1A23;
  --dropdown-menu-text      : #F2F2F2;
  --dropdown-newpage        : #9580FF;
  /* SEARCH BAR */
  --search-bar-background   : #1B1A23;
  --search-bar-text         : #F2F2F2;
  /* KANBAN CARD COLORS */
  --kanban-main-background  : #1B1A23;
  --kanban-column-background: #2A2C37;
  --kanban-card-background  : #1B1A23;
  --kanban-text-hover       : #81FFEA;
}
