.rm-alias-external:before {
    content: "🔗"
}

span.rm-page-ref[data-tag="Source"]:before,
span[data-link-title^="Source"] .rm-page-ref:before {
  content: "📚";
}

span.rm-page-ref[data-tag="Org"]:before,
span[data-link-title^="Org"] .rm-page-ref:before {
  content: "🦠";
}
