@import url('https://abhayprasanna.github.io/better-dark-age.css');
@import url('https://fonts.googleapis.com/css?family=Commissioner|Crimson+Text|Fira+Code|Bitter|Work+Sans');

@media (prefers-color-scheme: light) {
  :root {
    /* FONTS */
    --global-font             : 'Work Sans', sans-serif;
    --secondary-font          : 'Fira Code', monospace;
    --header-font             : 'Bitter', serif;
    /* WIDTH FIXES - default 568px,1032px - increase to increase WIDTH */
    --reduce-padding-right    : 3400px;
    --reduce-padding-left     : 3400px;
    /* COLORS - One light*/
    --page-links              : #283593;
    --attributes-color        : #986801;
    --external-links          : #50A14E;
    --links-hover             : #E4564A;
    --hashtags                : #A626A4;
    --body-text               : #292D31;
    --italics-color           : #E4564A;
    --bold-color              : #0184BC;
    --highlight-text-color    : #292D31;
    --highlighter             : #FFFF80;
    --background              : #FAFAFA;
    --sidebar-background      : #EAEAEB;
    --sidebar-text            : #292D31;
    --page-heading            : #283593;
    --daily-heading           : #283593;
    --heading1                : #292D31;
    --heading2                : #292D31;
    --heading3                : #292D31;  
    --bullets                 : #3F51B5;
    --closed-bullets          : #3F51B577;
    --references              : #3F51B5;
    --block-reference-text    : #0184BC;
    --namespaces              : #E4564A;
    --all-pages-mentions      : #0184BC;
    --cursor                  : #292D31;
    --icons                   : #3F51B5;
    --icons-hover             : #E4564A;
    --filter-icon             : #50A14E;
    /* FONT SIZES */
    --page-head-font-size     : 2.2em;
    /* DROPDOWN MENU */
    --dropdown-menu-background: #EAEAEB;
    --dropdown-menu-highlight : #FAFAFA;
    --dropdown-menu-text      : #292D31;
    --dropdown-newpage        : #0184BC;
    /* SEARCH BAR */
    --search-bar-background   : #F7F8FA;
    --search-bar-text         : #292D31;
    /* KANBAN CARD COLORS */
    --kanban-main-background  : #FAFAFA;
    --kanban-column-background: #EAEAEB;
    --kanban-card-background  : #FAFAFA;
    --kanban-text-hover       : #E4564A;
  }
}
@media (prefers-color-scheme: dark) {
:root {
    /* FONTS */
    --global-font             : 'Work Sans', sans-serif;
    --secondary-font          : 'Fira Code', monospace;
    --header-font             : 'Bitter', serif;
    /* WIDTH FIXES - default 568px,1032px - increase to increase WIDTH */
    --reduce-padding-right    : 3400px;
    --reduce-padding-left     : 3400px;
    /* COLORS (HT: Jack Laing for [[Dracula Pro]] color theme) */
    --page-links              : #82aaff;
    --attributes-color        : #addb67;
    --external-links          : #ef5350;
    --links-hover             : #f78c6c;
    --hashtags                : #c792ea;
    --body-text               : #d6deeb;
    --italics-color           : #f78c6c;
    --bold-color              : #7fdbca;
    --highlight-text-color    : #011627;
    --highlighter             : #addb67;
    --background              : #011627;
    --sidebar-background      : #01111d;
    --sidebar-text            : #d6deeb;
    --page-heading            : #82aaff;
    --daily-heading           : #82aaff;
    --heading1                : #d6deeb;
    --heading2                : #d6deeb;
    --heading3                : #d6deeb;  
    --bullets                 : #82aaff;
    --closed-bullets          : #575656;
    --references              : #82aaff;
    --block-reference-text    : #7fdbca;
    --namespaces              : #f78c6c;
    --all-pages-mentions      : #7fdbca;
    --cursor                  : #d6deeb;
    --icons                   : #82aaff;
    --icons-hover             : #f78c6c;
    --filter-icon             : #22da6e;
    /* FONT SIZES */
    --page-head-font-size     : 2.2em;
    /* DROPDOWN MENU */
    --dropdown-menu-background: #01111d;
    --dropdown-menu-highlight : #011627;
    --dropdown-menu-text      : #d6deeb;
    --dropdown-newpage        : #7fdbca;
    /* SEARCH BAR */
    --search-bar-background   : #011627;
    --search-bar-text         : #d6deeb;
    /* KANBAN CARD COLORS */
    --kanban-main-background  : #011627;
    --kanban-column-background: #2A2C37;
    --kanban-card-background  : #011627;
    --kanban-text-hover       : #f78c6c;
  }
}
