/* Hide Roam logo and help button */
#roam-sidebar-logo,
#buffer {
  display: none;
}

/* Murf attr-table filter results */
#filterRowCt {
  color: var(--italics-color) !important;
}

/* Hide graph button and calendar (daily notes) in top bar */
.bp3-button.bp3-minimal.bp3-icon-calendar.bp3-small,
.bp3-button.bp3-minimal.bp3-icon-graph.bp3-small {
  display: none !important;
}

/* Fix top bar */
.roam-topbar {
  padding-right: 0 !important;
  z-index      : 100 !important;
}

/* Hide mobile bar on iPad */
@media (min-device-width : 1024px) {
  #rm-mobile-bar {
    display: none !important;
  }
}

/* Justify as block quote */
.text-align-justify {
  background-color : var(--sidebar-background);
  padding-left     : 2%;
  padding-right    : 2%;
  color            : var(--italics-color) !important;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: var(--references);
  font-family      : var(--header-font) !important;
}

.text-align-justify::before{
  content: "❝\A";
  white-space: pre;
  font-size: 100%;
  color: var(--references);
}

.text-align-justify::after{
  content: "\A❞";
  white-space: pre;
  color: var(--references);
  font-size: 100%;
}

/* Override image, iframe, pdf resize */

div[style*="width: 580px;"],
div[style*="width: 720px;"] {
  width: 100% !important;
}
div[style*="height: 720px;"] {
  height: 85vh !important;
}

.react-resizable-handle-se {
  opacity: 0;
  border-style: solid;
  border-color: transparent var(--references) var(--references) transparent;
}

.react-resizable:hover .react-resizable-handle-se {
  opacity: 1;
}

.react-resizable-handle-se:hover {
  border-style: solid;
  border-color: transparent var(--icons-hover) var(--icons-hover) transparent;
}

/* CCC's YT Timestamps JS customization */

.timestamp-control {
  color: var(--icons);
  margin-top: 3px;
  border: none;
  transition   : color 0.3s ease, border 0.3s ease;
}
.timestamp-control:hover {
  color: var(--icons-hover);
  transition   : color 0.3s ease, border 0.3s ease;
}

/* Custom Tags */

.rm-page-ref--tag[data-tag="42SmartBlock"] {
font-size: 0 !important;
}

/* Cato Minor's bullet transitions */
.roam-block-container:focus-within > .rm-block-main > div:nth-child(1) .rm-bullet .rm-bullet__inner {
  background-color: var(--icons-hover) !important;
  width: 8px;
  height: 3px;
  border-radius: 0px;
  transition: width 100ms linear, height 100ms linear, border-radius 100ms linear;
}
.roam-block-container > .rm-block-main > div:nth-child(1) .rm-bullet .rm-bullet__inner  {
  background-color: default;
  width: default;
  height: default;
  border-radius: default;
  transition: width 100ms linear, height 100ms linear, border-radius 100ms linear;
}
/* Remove partial iframes from path */
.parent-path-wrapper > div > span > div > iframe,
.parent-path-wrapper > div > span > .hoverparent {
  opacity: 0;
}
/* Old style block focus - header size */
.roam-article .rm-zoom.zoom-path-view ~ div > div > div:nth-child(1) {
  font-size: 30px;
}
/* Hide controls of focus block */
.roam-article .rm-zoom.zoom-path-view ~ div > div > div:nth-child(1) > div:nth-child(1) {
  opacity: 0;
}
/* Minimal right sidebar */
#roam-right-sidebar-content > div > div:nth-child(n) > div > div > div:nth-child(n) > span:nth-child(1):not(.bp3-button) {
  display: none;
}
.flex-h-box.window-headers {
  padding: 0 !important;
  height: 35px !important;
}
#roam-right-sidebar-content > div > div:nth-child(n) > div {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.rm-sidebar-outline {
  position: relative;
  top: -10px;
}
.rm-sidebar-outline .rm-block-children.rm-block__children.rm-level-0 {
  padding-top: 10px;
}
/* Don't let images and iframes extend outside box */
.rm-inline-img__resize, .react-resizable, .hoverparent {
  max-width: 100%;
  margin: 0 !important;
}
/* Move the edit icon to the left */
.hoveronly {
  right: 10px !important;
}
/* Minimal right sidebar mentions */
/* Change chevron path separator color */
#right-sidebar .rm-ref-page-view .rm-zoom .bp3-icon-chevron-right {
  color: var(--bold-color) !important;
  transform: scale(1.5);
}
/* Hide page title and path */
#right-sidebar .rm-ref-page-view .flex-h-box.rm-title-arrow-wrapper span {
  height: 1px;
  color: transparent;
}
/* Add light grey dashed line to separate pages & to help know where to hover */
#right-sidebar .rm-ref-page-view .flex-h-box.rm-title-arrow-wrapper {
  border-bottom: 1px dashed var(--references);
}
/* Hide parent path until hover */
#right-sidebar .rm-ref-page-view .rm-zoom {
  display: none;
}
#right-sidebar .rm-ref-page-view .rm-reference-item {
  position: relative;
  right: 25px;
}
/* Show the path and page title on hover */
#right-sidebar .rm-ref-page-view .rm-reference-item:hover .rm-zoom {
  display: flex;
  padding-left: 5px;
  padding-bottom: 10px;
}
#right-sidebar .rm-ref-page-view .flex-h-box.rm-title-arrow-wrapper:hover,
#right-sidebar .rm-ref-page-view .flex-h-box.rm-title-arrow-wrapper:hover span {
  height: unset;
  color: unset;
  border-bottom: unset;
}

/* Horizontal layout */

span.rm-page-ref[data-tag*="rm-"] {
    display: none;
}

.roam-block-container[data-page-links*="rm-h"] .rm-block-children {
  display: flex;
  flex-direction: row;
}

/* Diagram expands on hover */
button + div svg:not(:first-child):hover {
  position: fixed;
  width: 90vw !important;
  height: 90vh !important;
  z-index: 9999;
  top: 5vh !important;
  left: 5vw !important;
}
/* Makes diagram look better */
/* Some of these sizes might need to be adjusted */
button + div svg:not(:first-child) {
  border-radius: 10px;
}
div > span > div > span > div[style*="max-height"]{
  position: relative;
  top: -40px;
}
div > span > div > span > div[style*="max-height"] > button{
  position: relative;
  top: 32px;
  left: 100px;
  z-index: 9000;
  text-decoration: none !important;
  border: none;
  background: transparent;
}
div > span > div > span > div[style*="max-height"] > div > div{
  width: 40%;
  border-radius: 5px 5px 5px 0 !important;
}

/* David PPT mode custom Serif theme */
.reveal {
  cursor: url(https://cdn.custom-cursor.com/db/cursor/32/Laser_Cursor.png), default !important;
}

.reveal h1 {
  font-size: 2.5em !important;
  border-bottom: solid 2px orangered;
  color: black !important;
}
