/* OPTIONAL CUSTOMIZATIONS */

/* Dharam's back/forward JS customization */
#roam-navigation-controls_back:hover,
#roam-navigation-controls_forward:hover {
  border      : solid var(--icons-hover)!important;
  border-width: 0 3px 3px 0!important;
  transition  : color 0.1s ease, border 0.3s ease;
}

.left-sidebar-open {
  position: absolute;
  top     : 3px!important;
  left    : 220px!important;
}
@media only screen and (max-width: 600px) {
  .left-sidebar-open {
    left: 2px !important;
  }
}

.left-sidebar-closed {
  position: absolute;
  top     : 3px!important;
  left    : 25px!important;
}

/* Reposition left sidebar menu button */
.bp3-button.bp3-minimal.bp3-icon-menu-open.bp3-small,
.bp3-button.bp3-minimal.bp3-icon-menu.pointer.bp3-small {
  position: relative !important;
  left    : -40px !important;
}

/* Hide Roam logo */
#roam-sidebar-logo {
  display: none;
}

/* Murf attr-table filter results */
#filterRowCt {
  color: var(--italics-color) !important;
}

/* Hide graph button and calendar (daily notes) in top bar */
.bp3-button.bp3-minimal.bp3-icon-calendar.bp3-small,
.bp3-button.bp3-minimal.bp3-icon-graph.bp3-small {
  display: none !important;
}

/* Fix top bar */
.roam-topbar {
  padding-right: 0 !important;
  z-index      : 100 !important;
}

/* Hide mobile bar on iPad */
@media (min-device-width : 1024px) {
  #rm-mobile-bar {
    display: none !important;
  }
}

/* Justify as block quote */
.text-align-justify {
  background-color : var(--sidebar-background);
  padding-left     : 2%;
  padding-right    : 2%;
  color            : var(--italics-color) !important;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: var(--references);
  font-family      : var(--header-font) !important;
}

.text-align-justify::before{
  content: "❝\A";
  white-space: pre;
  font-size: 100%;
  color: var(--references);
}

.text-align-justify::after{
  content: "\A❞";
  white-space: pre;
  color: var(--references);
  font-size: 100%;
}

/*
  Mobile
*/

@media (max-width: 576px) {
  /* so the board stays within the viewport */
  [data-tag="2x2"] ~ .rm-full-width .kanban-board .kanban-column-container {
    max-width: 80vw;
  }

  /* Stack the columns on mobile */
  [data-tag="2x2"] ~ .rm-full-width .kanban-board .kanban-column-container .kanban-column {
    flex: 100% !important;
  }
}

/* Override image, iframe, pdf resize */

div[style*="width: 580px;"],
div[style*="width: 720px;"] {
  width: 100% !important;
}
div[style*="height: 720px;"] {
  height: 85vh !important;
}

.react-resizable-handle-se {
  border-style: solid;
  border-color: transparent var(--references) var(--references) transparent;
}

.react-resizable-handle-se:hover {
  border-style: solid;
  border-color: transparent var(--icons-hover) var(--icons-hover) transparent;
}

/* CCC's YT Timestamps JS customization */

.timestamp-control {
  color: var(--icons);
  margin-top: 3px;
  border: none;
  transition   : color 0.3s ease, border 0.3s ease;
}
.timestamp-control:hover {
  color: var(--icons-hover);
  transition   : color 0.3s ease, border 0.3s ease;
}

/* Custom Tags */

.rm-page-ref-tag[data-tag="42SmartBlock"] {
  color: rgba(0,0,0,0.7) !important;
  font-weight: 600;
  padding: 3px 6px 4px 4px;
  border-radius: 5px;
  background-image: linear-gradient(to left, #DA53EEAD, #FE7FBFAD, #FF9580AD, #FFFF80AD, #8AFF80AD, #92FFFFAD, #9580FFAD )
}

/* Cato Minor's bullet transitions */
.roam-block-container:focus-within > .rm-block-main > div:nth-child(1) .rm-bullet .rm-bullet__inner {
  background-color: var(--icons-hover) !important;
  width: 8px;
  height: 3px;
  border-radius: 0px;
  transition: width 100ms linear, height 100ms linear, border-radius 100ms linear;
}
.roam-block-container > .rm-block-main > div:nth-child(1) .rm-bullet .rm-bullet__inner  {
  background-color: default;
  width: default;
  height: default;
  border-radius: default;
  transition: width 100ms linear, height 100ms linear, border-radius 100ms linear;
}
