/* Rainbow indentation */
/* 
Feel free to adjust the color variables!
This one loops every 6 colors, and goes 18 levels deep (3 cycles).
The 3 selectors for each level correspond to:
1. Daily notes scrolling view
2. Single page view
3. Right sidebar outline view
*/

@import url('https://abhayprasanna.github.io/rainbow-indent-core.css');

:root {
    --box-shadow-values: 25px 0px 20px -25px; /* Set to "none" to remove shadow */
    --indent1: #5F388BAD;
    --indent2: #4A57BAAD;
    --indent3: #48864DAD;
    --indent4: #A7A15AAD;
    --indent5: #AD7E48AD;
    --indent6: #A5494FAD;
    --indent7: #634071AD;
    --indent8: #303472AD;
    --indent9: #395C45AD;
    --indent10: #7C7948AD;
    --indent11: #7D5039AD;
    --indent12: #A5494FAD;
    --indent13: #706597AD;
    --indent14: #657D91AD;
    --indent15: #6D8D76AD;
    --indent16: #A09A84AD;
    --indent17: #987174AD;
    --indent18: #8B5F78AD;
}

.block-border-left {
    border-left-width: 1px !important; /* Default 1px */
    margin-left: 6px; /* Default 6px */
    border-radius: 0; /* Set to 0 to get smooth, straight indents */
    padding: 0 !important; /* Set to 0 to align all indents */
}
