/* 
To add deeper indents:
Add colors for " .rm-level-n > .rm-multibar " incrementally (n = indent level)
*/

/* Level 1 */
.rm-level-1 > .rm-multibar, .rm-level-19 > .rm-multibar, .rm-level-37 > .rm-multibar, .rm-inline-references > .rm-multibar {
    border-right-color: var(--indent1) !important;
    box-shadow: var(--box-shadow-values) var(--indent1) inset;
}
.rm-level-0 > div > .rm-block__self .rm-bullet__inner, .rm-level-18 > div > .rm-block__self .rm-bullet__inner, .rm-level-36 > div > .rm-block__self .rm-bullet__inner {
    background-color: var(--indent1) !important;
}

/* Level 2 */
.rm-level-2 > .rm-multibar, .rm-level-20 > .rm-multibar, .rm-level-38 > .rm-multibar {
    border-right-color: var(--indent2) !important;
    box-shadow: var(--box-shadow-values) var(--indent2) inset;
}
.rm-level-1 > div > .rm-block__self .rm-bullet__inner, .rm-level-19 > div > .rm-block__self .rm-bullet__inner, .rm-level-37 > div > .rm-block__self .rm-bullet__inner {
    background-color: var(--indent2) !important;
}

/* Level 3 */
.rm-level-3 > .rm-multibar, .rm-level-21 > .rm-multibar, .rm-level-39 > .rm-multibar {
    border-right-color: var(--indent3) !important;
    box-shadow: var(--box-shadow-values) var(--indent3) inset;
}
.rm-level-2 > div > .rm-block__self .rm-bullet__inner, .rm-level-20 > div > .rm-block__self .rm-bullet__inner, .rm-level-38 > div > .rm-block__self .rm-bullet__inner {
    background-color: var(--indent3) !important;
}

/* Level 4 */
.rm-level-4 > .rm-multibar, .rm-level-22 > .rm-multibar, .rm-level-40 > .rm-multibar {
    border-right-color: var(--indent4) !important;
    box-shadow: var(--box-shadow-values) var(--indent4) inset;
}
.rm-level-3 > div > .rm-block__self .rm-bullet__inner, .rm-level-21 > div > .rm-block__self .rm-bullet__inner, .rm-level-39 > div > .rm-block__self .rm-bullet__inner {
    background-color: var(--indent4) !important;
}

/* Level 5 */
.rm-level-5 > .rm-multibar, .rm-level-23 > .rm-multibar, .rm-level-41 > .rm-multibar {
    border-right-color: var(--indent5) !important;
    box-shadow: var(--box-shadow-values) var(--indent5) inset;
}
.rm-level-4 > div > .rm-block__self .rm-bullet__inner, .rm-level-22 > div > .rm-block__self .rm-bullet__inner, .rm-level-40 > div > .rm-block__self .rm-bullet__inner {
    background-color: var(--indent5) !important;
}

/* Level 6 */
.rm-level-6 > .rm-multibar, .rm-level-24 > .rm-multibar, .rm-level-42 > .rm-multibar {
    border-right-color: var(--indent6) !important;
    box-shadow: var(--box-shadow-values) var(--indent6) inset;
}
.rm-level-5 > div > .rm-block__self .rm-bullet__inner, .rm-level-25 > div > .rm-block__self .rm-bullet__inner, .rm-level-41 > div > .rm-block__self .rm-bullet__inner {
    background-color: var(--indent6) !important;
}

/* Level 7 */
.rm-level-7 > .rm-multibar, .rm-level-25 > .rm-multibar, .rm-level-43 > .rm-multibar {
    border-right-color: var(--indent7) !important;
    box-shadow: var(--box-shadow-values) var(--indent7) inset;
}
.rm-level-6 > div > .rm-block__self .rm-bullet__inner, .rm-level-24 > div > .rm-block__self .rm-bullet__inner, .rm-level-42 > div > .rm-block__self .rm-bullet__inner {
    background-color: var(--indent7) !important;
}

/* Level 8 */
.rm-level-8 > .rm-multibar, .rm-level-26 > .rm-multibar, .rm-level-44 > .rm-multibar {
    border-right-color: var(--indent8) !important;
    box-shadow: var(--box-shadow-values) var(--indent8) inset;
}
.rm-level-7 > div > .rm-block__self .rm-bullet__inner, .rm-level-25 > div > .rm-block__self .rm-bullet__inner, .rm-level-43 > div > .rm-block__self .rm-bullet__inner {
    background-color: var(--indent8) !important;
}

/* Level 9 */
.rm-level-9 > .rm-multibar, .rm-level-27 > .rm-multibar, .rm-level-45 > .rm-multibar {
    border-right-color: var(--indent9) !important;
    box-shadow: var(--box-shadow-values) var(--indent9) inset;
}
.rm-level-8 > div > .rm-block__self .rm-bullet__inner, .rm-level-26 > div > .rm-block__self .rm-bullet__inner, .rm-level-44 > div > .rm-block__self .rm-bullet__inner {
    background-color: var(--indent9) !important;
}

/* Level 10 */
.rm-level-10 > .rm-multibar, .rm-level-28 > .rm-multibar, .rm-level-46 > .rm-multibar {
    border-right-color: var(--indent10) !important;
    box-shadow: var(--box-shadow-values) var(--indent10) inset;
}
.rm-level-9 > div > .rm-block__self .rm-bullet__inner, .rm-level-27 > div > .rm-block__self .rm-bullet__inner, .rm-level-45 > div > .rm-block__self .rm-bullet__inner {
    background-color: var(--indent10) !important;
}

/* Level 11 */
.rm-level-11 > .rm-multibar, .rm-level-29 > .rm-multibar, .rm-level-47 > .rm-multibar {
    border-right-color: var(--indent11) !important;
    box-shadow: var(--box-shadow-values) var(--indent11) inset;
}
.rm-level-10 > div > .rm-block__self .rm-bullet__inner, .rm-level-28 > div > .rm-block__self .rm-bullet__inner, .rm-level-46 > div > .rm-block__self .rm-bullet__inner {
    background-color: var(--indent11) !important;
}

/* Level 12 */
.rm-level-12 > .rm-multibar, .rm-level-30 > .rm-multibar, .rm-level-48 > .rm-multibar {
    border-right-color: var(--indent12) !important;
    box-shadow: var(--box-shadow-values) var(--indent12) inset;
}
.rm-level-11 > div > .rm-block__self .rm-bullet__inner, .rm-level-29 > div > .rm-block__self .rm-bullet__inner, .rm-level-47 > div > .rm-block__self .rm-bullet__inner {
    background-color: var(--indent12) !important;
}

/* Level 13 */
.rm-level-13 > .rm-multibar, .rm-level-31 > .rm-multibar, .rm-level-49 > .rm-multibar {
    border-right-color: var(--indent13) !important;
    box-shadow: var(--box-shadow-values) var(--indent13) inset;
}
.rm-level-12 > div > .rm-block__self .rm-bullet__inner, .rm-level-30 > div > .rm-block__self .rm-bullet__inner, .rm-level-48 > div > .rm-block__self .rm-bullet__inner {
    background-color: var(--indent13) !important;
}

/* Level 14 */
.rm-level-14 > .rm-multibar, .rm-level-32 > .rm-multibar, .rm-level-50 > .rm-multibar {
    border-right-color: var(--indent14) !important;
    box-shadow: var(--box-shadow-values) var(--indent14) inset;
}
.rm-level-13 > div > .rm-block__self .rm-bullet__inner, .rm-level-31 > div > .rm-block__self .rm-bullet__inner, .rm-level-49 > div > .rm-block__self .rm-bullet__inner {
    background-color: var(--indent14) !important;
}

/* Level 15 */
.rm-level-15 > .rm-multibar, .rm-level-33 > .rm-multibar, .rm-level-51 > .rm-multibar {
    border-right-color: var(--indent15) !important;
    box-shadow: var(--box-shadow-values) var(--indent15) inset;
}
.rm-level-14 > div > .rm-block__self .rm-bullet__inner, .rm-level-32 > div > .rm-block__self .rm-bullet__inner, .rm-level-50 > div > .rm-block__self .rm-bullet__inner {
    background-color: var(--indent15) !important;
}

/* Level 16 */
.rm-level-16 > .rm-multibar, .rm-level-34 > .rm-multibar, .rm-level-52 > .rm-multibar {
    border-right-color: var(--indent16) !important;
    box-shadow: var(--box-shadow-values) var(--indent16) inset;
}
.rm-level-15 > div > .rm-block__self .rm-bullet__inner, .rm-level-33 > div > .rm-block__self .rm-bullet__inner, .rm-level-51 > div > .rm-block__self .rm-bullet__inner {
    background-color: var(--indent16) !important;
}


/* Level 17 */
.rm-level-17 > .rm-multibar, .rm-level-35 > .rm-multibar, .rm-level-53 > .rm-multibar {
    border-right-color: var(--indent17) !important;
    box-shadow: var(--box-shadow-values) var(--indent17) inset;
}
.rm-level-16 > div > .rm-block__self .rm-bullet__inner, .rm-level-34 > div > .rm-block__self .rm-bullet__inner, .rm-level-52 > div > .rm-block__self .rm-bullet__inner {
    background-color: var(--indent17) !important;
}


/* Level 18 */
.rm-level-18 > .rm-multibar, .rm-level-36 > .rm-multibar, .rm-level-54 > .rm-multibar {
    border-right-color: var(--indent18) !important;
    box-shadow: var(--box-shadow-values) var(--indent18) inset;
}
.rm-level-17 > div > .rm-block__self .rm-bullet__inner, .rm-level-35 > div > .rm-block__self .rm-bullet__inner, .rm-level-53 > div > .rm-block__self .rm-bullet__inner {
    background-color: var(--indent18) !important;
}
