@import url('https://abhayprasanna.github.io/better-dark-age.css');

@import url('https://fonts.googleapis.com/css?family=Lato|Crimson+Text|Fira+Code|Alegreya|Work+Sans');

@media (prefers-color-scheme: light) {
  :root {
    /* FONTS */
    --global-font             : 'Work Sans', sans-serif;
    --secondary-font          : 'Fira Code', monospace;
    --header-font             : 'Crimson Text', serif;
    /* WIDTH FIXES - default 568px,1032px - increase to increase WIDTH */
    --reduce-padding-right    : 3400px;
    --reduce-padding-left     : 3400px;
    /* COLORS - One light*/
    --page-links              : #2979ff;
    --attributes-color        : #986801;
    --external-links          : #50A14E;
    --links-hover             : #E4564A;
    --hashtags                : #A626A4;
    --body-text               : #292D31;
    --italics-color           : #E4564A;
    --bold-color              : #0184BC;
    --highlight-text-color    : #292D31;
    --highlighter             : #FFFF80;
    --background              : #FAFAFA;
    --sidebar-background      : #EAEAEB;
    --sidebar-text            : #292D31;
    --page-heading            : #2979ff;
    --daily-heading           : #2979ff;
    --headings                : #292D31;
    --bullets                 : #4078F2;
    --closed-bullets          : #4078F277;
    --references              : #4078F2;
    --block-reference-text    : #0184BC;
    --namespaces              : #E4564A;
    --all-pages-mentions      : #0184BC;
    --cursor                  : #292D31;
    --icons                   : #4078F2;
    --icons-hover             : #E4564A;
    --filter-icon             : #50A14E;
    /* FONT SIZES */
    --main-font-size          : 1em;
    --page-head-font-size     : 2.2em;
    --h1-font-size            : 2em;
    --h2-font-size            : 1.6em;
    --h3-font-size            : 1.2em;
    --sidebar-h1-size         : 2.2em;
    /* DROPDOWN MENU */
    --dropdown-menu-background: #EAEAEB;
    --dropdown-menu-highlight : #FAFAFA;
    --dropdown-menu-text      : #292D31;
    --dropdown-newpage        : #2979ff;
    /* SEARCH BAR */
    --search-bar-background   : #F7F8FA;
    --search-bar-text         : #292D31;
    /* KANBAN CARD COLORS */
    --kanban-main-background  : #FAFAFA;
    --kanban-column-background: #EAEAEB;
    --kanban-card-background  : #FAFAFA;
    --kanban-text-hover       : #E4564A;
  }
}

@media (prefers-color-scheme: dark) {
:root {
  /* FONTS */
  --global-font             : 'Lato', sans-serif;
  --secondary-font          : 'Fira Code', monospace;
  --header-font             : 'Alegreya', serif;
  /* WIDTH FIXES - default 568px,1032px - increase to increase WIDTH */
  --reduce-padding-right    : 3400px;
  --reduce-padding-left     : 3400px;
  /* COLORS (HT: Jack Laing for [[Dracula Pro]] color theme) */
  --page-links              : #FAD000;
  --attributes-color        : #B362FF;
  --external-links          : #A5FF90;
  --links-hover             : #9EFFFF;
  --hashtags                : #FF628C;
  --body-text               : #e8e6e3;
  --italics-color           : #f78c6c;
  --bold-color              : #FF9D00;
  --highlight-text-color    : #e8e6e3;
  --highlighter             : #4D21FC;
  --background              : #1E1E3F;
  --sidebar-background      : #2D2B55;
  --sidebar-text            : #e8e6e3;
  --page-heading            : #FAD000;
  --daily-heading           : #FAD000;
  --headings                : #e8e6e3;
  --bullets                 : #A599E9;
  --closed-bullets          : #4D21FC;
  --references              : #FFEE80;
  --block-reference-text    : #B362FF;
  --namespaces              : #f78c6c;
  --all-pages-mentions      : #FF9D00;
  --cursor                  : #e8e6e3;
  --icons                   : #FAD000;
  --icons-hover             : #9EFFFF;
  --filter-icon             : #A5FF90;
  /* FONT SIZES */
  --main-font-size          : 1em;
  --page-head-font-size     : 2.2em;
  --h1-font-size            : 2em;
  --h2-font-size            : 1.6em;
  --h3-font-size            : 1.2em;
  --sidebar-h1-size         : 2.2em;
  /* DROPDOWN MENU */
  --dropdown-menu-background: #2D2B55;
  --dropdown-menu-highlight : #1E1E3F;
  --dropdown-menu-text      : #e8e6e3;
  --dropdown-newpage        : #FAD000;
  /* SEARCH BAR */
  --search-bar-background   : #1E1E3F;
  --search-bar-text         : #e8e6e3;
  /* KANBAN CARD COLORS */
  --kanban-main-background  : #1E1E3F;
  --kanban-column-background: #2D2B55;
  --kanban-card-background  : #1E1E3F;
  --kanban-text-hover       : #FFEE80;
  }
}
