@import url('https://abhayprasanna.github.io/better-dark-age.css');
@import url('https://fonts.googleapis.com/css?family=Lato|Crimson+Text|Fira+Code|Alegreya|Work+Sans');

@media (prefers-color-scheme: light) {
    :root {
    /* FONTS */
    --global-font             : 'Work Sans', sans-serif;
    --secondary-font          : 'Fira Code', monospace;
    --header-font             : 'Bitter', serif;
    /* WIDTH FIXES - default 568px,1032px - increase to increase WIDTH */
    --reduce-padding-right    : 3400px;
    --reduce-padding-left     : 3400px;
    /* COLORS - One light*/
    --page-links              : #283593;
    --attributes-color        : #986801;
    --external-links          : #50A14E;
    --links-hover             : #E4564A;
    --hashtags                : #A626A4;
    --body-text               : #292D31;
    --italics-color           : #E4564A;
    --bold-color              : #0184BC;
    --highlight-text-color    : #292D31;
    --highlighter             : #FFFF80;
    --background              : #FAFAFA;
    --sidebar-background      : #EAEAEB;
    --sidebar-text            : #292D31;
    --page-heading            : #283593;
    --daily-heading           : #283593;
    --heading1                : #292D31;
    --heading2                : #292D31;
    --heading3                : #292D31;  
    --bullets                 : #3F51B5;
    --closed-bullets          : #3F51B577;
    --references              : #3F51B5;
    --block-reference-text    : #0184BC;
    --namespaces              : #E4564A;
    --all-pages-mentions      : #0184BC;
    --cursor                  : #292D31;
    --icons                   : #3F51B5;
    --icons-hover             : #E4564A;
    --filter-icon             : #50A14E;
    /* FONT SIZES */
    --page-head-font-size     : 2.2em;
    /* DROPDOWN MENU */
    --dropdown-menu-background: #EAEAEB;
    --dropdown-menu-highlight : #FAFAFA;
    --dropdown-menu-text      : #292D31;
    --dropdown-newpage        : #0184BC;
    /* SEARCH BAR */
    --search-bar-background   : #F7F8FA;
    --search-bar-text         : #292D31;
    /* KANBAN CARD COLORS */
    --kanban-main-background  : #FAFAFA;
    --kanban-column-background: #EAEAEB;
    --kanban-card-background  : #FAFAFA;
    --kanban-text-hover       : #E4564A;
  }
}

@media (prefers-color-scheme: dark) {
:root {
  /* FONTS */
  --global-font             : 'Lato', sans-serif;
  --secondary-font          : 'Fira Code', monospace;
  --header-font             : 'Alegreya', serif;
  /* WIDTH FIXES - default 568px,1032px - increase to increase WIDTH */
  --reduce-padding-right    : 3400px;
  --reduce-padding-left     : 3400px;
  /* COLORS (HT: Jack Laing for [[Dracula Pro]] color theme) */
  --page-links              : #FAD000;
  --attributes-color        : #B362FF;
  --external-links          : #A5FF90;
  --links-hover             : #9EFFFF;
  --hashtags                : #FF628C;
  --body-text               : #e8e6e3;
  --italics-color           : #f78c6c;
  --bold-color              : #FF9D00;
  --highlight-text-color    : #e8e6e3;
  --highlighter             : #4D21FC;
  --background              : #1E1E3F;
  --sidebar-background      : #2D2B55;
  --sidebar-text            : #e8e6e3;
  --page-heading            : #FAD000;
  --daily-heading           : #FAD000;
  --headings                : #e8e6e3;
  --bullets                 : #A599E9;
  --closed-bullets          : #4D21FC;
  --references              : #FFEE80;
  --block-reference-text    : #B362FF;
  --namespaces              : #f78c6c;
  --all-pages-mentions      : #FF9D00;
  --cursor                  : #e8e6e3;
  --icons                   : #FAD000;
  --icons-hover             : #9EFFFF;
  --filter-icon             : #A5FF90;
  /* FONT SIZES */
  --page-head-font-size     : 2.2em;
  /* DROPDOWN MENU */
  --dropdown-menu-background: #2D2B55;
  --dropdown-menu-highlight : #1E1E3F;
  --dropdown-menu-text      : #e8e6e3;
  --dropdown-newpage        : #FF9D00;
  /* SEARCH BAR */
  --search-bar-background   : #1E1E3F;
  --search-bar-text         : #e8e6e3;
  /* KANBAN CARD COLORS */
  --kanban-main-background  : #1E1E3F;
  --kanban-column-background: #2D2B55;
  --kanban-card-background  : #1E1E3F;
  --kanban-text-hover       : #FFEE80;
  }
}
