/* ORIGINAL COLOR CSS: https://github.com/jmharris903/Railscast-for-Roam-Research-Theme */
/* ORIGINAL COLOR SCHEME: https://draculatheme.com */

/* IMPORT ZENITH LAYOUT */
  @import url('https://orgtech-network.github.io/daobase-roam/themes/zenith_without_colors.css');

:root {	

    --page-width: 616px;
    
    --header-font: "Avenir Next", sans-serif;	
    --body-font: "Avenir Next", sans-serif;	
    --code-font: 'Source Code Pro', 'Courier New', Courier, monospace;
    	
    --main-background: #1B1A23;	
    --secondary-background: #22212C; /* Page Color, Sidebars */
    --highlighted-background: #353243; /* Bullet Outlines, Search Backgrounds, Hover Backgrounds, Block Ref / Query Backgrounds */
    	
    --font: #F8F8F3; 
    --font-dark: #D5D4DE; /* Sidebar, Search, Breadcrumbs */
    --font-hover: white;	
    	
    --page-shadow: 0px 8px 14px rgba(0, 0, 0, 0.25);	
    	
    --primary: #9580FF;	/* Icons, Bold, Attributes, Linked Reference Headers, Page Brackets, Checkmarks, 
                            Bullet Outlines, New Page Buttons, Datepicker Day Wrappers, Queries */
    --primary-light: #81FFEA; /* Page Links, Bullets */	
    --primary-dark: #00588e; /* Block Highlights */
    --primary-dark-accent: #586e75; /* Block Highlight Moving */
    --external-link: #8AFF7F; /* External Links, Sidebar Page Titles */
    --tag: #FE7FBF;
    --reference: #FE9580; /* Block References */
    --italics: #FE9580;
    --highlight: #FEFF7F;

  /* Primary fonts */
  --main-font: 'Inter', sans-serif;
  --main-font-size: 1.0em;
  --code-font: 'Source Code Pro', 'Courier New', Courier, monospace;
  --code-font-size: 1.0em;

  /* font colors */
  --block-ref-font-size: 1.0em;
  --ref-count-font-size: 12px;
  --breadcrumb-font-size: 13px;
  --breadcrumb-line-height: 0.85em;
  
  /* backgrounds and outlines */
  --h1-bg: transparent;
  --bullet-position: 4px;
  --block-highlight-bg: rgba(0, 0, 0, 0.4);
  --current-block-highlight: rgba(255, 255, 255, 0.07);
  --datepicker-bg: transparent;
  
  /* fragile styles that may break with the next update */
  --alias-font-color: #268bd2;
  --alias-bg: transparent;
  /*RR change: no longer needed? Already broken?*/
  /* --filter-bg-subtract: rgba(228, 33, 35, 0.6); 
  --filter-bg-add: rgba(141, 187, 64, 0.5); */
  
  /* Misc */
  --kanban-board-bg: var(--secondary-background);
  --kanban-column-bg: var(--main-background);
  --kanban-card-bg: var(--highlighted-background);
  --kanban-column-font-color: var(--main-font);
  --kanban-card-font-color: var(--main-font);
  
  --table-border: #444;
  
  --blockquote-font-color: rgba(109, 156, 190, 0.89);
  --blockquote-border-color: #444;
  --blockquote-bg: none;
  --blockquote-cite: #777;
  
  --encrypted-font-color:#ff6000;
  --encrypted-bg:#353535;
  
  --emoji-bg: #2d2d2d;
  --emoji-border: rgba(225, 117, 28, 0.40);
  --emoji-color: #aaa;
  
  --no-query-results: "Query returned no results";
  --no-query-results-color: #FC5963;
  
  /* Scrollbar settings - to disable set values to none */

    --scrollbar-track: #2b2b2b;
    --scrollbar-thumb: rgba(153, 153, 153, 0.1);
  
}
.check-container {
  top: -6px; /*RR change: adjust this value to move the checkbox up or down to better align with the font selected above - the default font Inter uses -6px*/
  padding-right: 4px;
}





         /* -------------------------- */
/*---------    ZENITH LAYOUT COLORS    ----------*/
         /* -------------------------- */


/* -------------------------- */
/*       MAIN PAGE CARD       */
/* -------------------------- */

.roam-article > div {
  background: var(--secondary-background);
  /* position: relative; */
  border-radius: 10px;
}


/* -------------------------- */
/*         SIDEBAR CARD       */
/* -------------------------- */

#roam-right-sidebar-content > * > div {
  background: var(--secondary-background);
}


/* -------------------------- */
/*         SEARCH BAR         */
/* -------------------------- */

/* style contains `200px` if search bar is NOT selected */
/* hovering search bar in this mode == hovering icon itself */
/* we must however have the search bar in front of the icon (but invisible) so that it can focus on click */
/* very hacky :P */
.rm-find-or-create-wrapper[style*="200px"]:hover .bp3-icon-search, .roam-topbar .bp3-icon-search:hover {
  background-color: rgba(var(--primary), 0.4);
  color: var(--font) !important;
}

/* highlight around search box */
#find-or-create-input:focus {
  box-shadow: 0 0 0 1px var(--primary), 0 0 0 3px rgba(var(--primary), 0.3), inset 0 1px 1px rgba(16,22,26, 0.2);
}

/* styling dropdown menu*/
.rm-find-or-create-wrapper .bp3-popover {
  background: var(--highlighted-background);
  backdrop-filter: blur(5px);
}

/* new page text */
.rm-find-or-create-wrapper .rm-new-page {
  color: var(--primary) !important;
}

/* selected search result */
.rm-find-or-create-wrapper .rm-menu-item[style*="background"] {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/* search results highlighted words */
.rm-find-or-create-wrapper .rm-menu-item .rm-search-list-item span[style*="yellow"],
.rm-pages-title-col span[style*="yellow"]{
  background-color: rgba(var(--primary), 0.4) !important;
  color: var(--font);
}
.bp3-input {
  background-color: var(--highlighted-background) !important;
  color: var(--font) !important;
}
.bp3-input::placeholder {
  background-color: var(--highlighted-background) !important;
  color: var(--font) !important;
  opacity: 0.3;
}
/* -------------------------- */
/*          DIAGRAM           */
/* -------------------------- */

.rm-block-text svg {
  background-color: var(--main-background) !important;
  border: none !important;
}
.roam-block div[style*="100vh"] > button {
  background-color: var(--main-background) !important;
}
.bp3-button:hover, .roam-block div[style*="100vh"] > button:hover {
  background-color: rgba(var(--primary), 0.5) !important;
}
.roam-block div[style*="100vh"] div[style*="background-color: white"] {
  background-color: var(--secondary-background) !important;
  border-color: var(--main-background) !important;
}

.roam-center svg > g > foreignObject, #roam-right-sidebar-content > div svg > g > foreignObject {
  background-color: var(--secondary-background);
  border-radius: 8px;
  filter: drop-shadow( 0px 4px 6px rgba(0, 0, 0, .05));
  border: 1px solid transparent;
}

/* SELECTION */

.roam-center svg > g > rect[stroke="red"] + foreignObject,
#roam-right-sidebar-content > div svg > g > rect[stroke="red"] + foreignObject {
  border-color: var(--primary-light);
}

.roam-center svg > g > rect[style*="stroke: red"] + foreignObject,
#roam-right-sidebar-content > div svg > g > rect[style*="stroke: red"] + foreignObject{
  border-color: var(--primary-light);
  
}

.roam-center svg > g > rect[style*="rgba"] + foreignObject,
#roam-right-sidebar-content > div svg > g > rect[style*="rgba"] + foreignObject{
  background-color: rgba(255, 255, 255, 0.4)
}

.roam-center svg > g > foreignObject > input:first-child,
#roam-right-sidebar-content > div svg > g > foreignObject > input:first-child{
  background-color: var(--primary) !important;
  color: var(--tag);
  height: 30px;
}

.roam-center svg > line[style*="stroke: red"],
#roam-right-sidebar-content > div svg > line[style*="stroke: red"]{
  stroke: var(--primary-light) !important;
}

.roam-center svg > rect[style*="fill: rgba(55, 141, 240, 0.5)"],
#roam-right-sidebar-content > div svg > rect[style*="fill: rgba(55, 141, 240, 0.5)"]{
  fill: rgba(var(--primary-light), 0.5) !important;
  stroke: var(--primary-light) !important;
}


/* -------------------------- */
/*       SEARCH PAGE          */
/* -------------------------- */

.rm-pages-row-header {
  background-color: rgba(var(--primary), 0.4) !important;
  color: var(--font) !important;
  border: none !important;
}
.rm-pages-row[style] .bp3-icon::before {
  color: var(--primary) !important;
}
.rm-pages-row-highlight {
  background-color: var(--secondary-background);
}
.rm-pages-row[style] .rm-pages-action-col {
  color: transparent !important;
}
/* use wrench icon for actions header rather than "AC..." */
.rm-pages-row[style] .rm-pages-action-col::before {
  color: var(--primary);
}

/* style new page button */
.bp3-intent-success {
  color: var(--primary) !important;
}
.bp3-intent-success:hover {
  background-color: rgba(73, 197, 91, 0.2) !important;
}
.bp3-intent-success:active {
  background-color: rgba(73, 197, 91, 0.4) !important;
}

/* new search page */

.bp3-control-indicator {
  background-color: var(--highlighted-background) !important;
  background-image: none !important;
  border: 1px solid rgba(var(--primary), 0.6) !important;
}

.bp3-control input:checked ~ .bp3-control-indicator {
  background-color: var(--primary) !important;
  box-shadow: none !important; /* sliders */
}

.rm-clickable-pill {
  background-color: rgba(var(--primary), 0.4) !important;
}
.rm-clickable-pill.empty-pill {
  background-color: var(--highlighted-background) !important;
}

.sorted-header-text {
  color: var(--font) !important;
}

.sort-button::before {
  color: var(--font) !important;
}
.sort-button.focused::before {
  color: var(--primary) !important;
}

.rm-pages-row:nth-child(2n+1) {
  background-color: rgba(var(--primary), 0.15);
  border-radius:3px;
}

/* fix width change on border */
.rm-all-pages .bp3-input {
  border: 1px solid transparent;
}

.rm-all-pages .bp3-input.focused {
  border: 1px solid var(--primary) !important;
}

/* -------------------------- */
/*           MISC             */
/* -------------------------- */

/* for when filter is active on page */
.bp3-icon-filter[style*="color"] {
  color: var(--primary-light) !important;
}

/* better caret positioning in linked references */
.bp3-icon-caret-down::before {
  color: var(--primary-light) !important;
}

/* GRAPH VIEW */

/* you can't actually style the graph view because it uses canvas elements, but we *can* apply CSS filters to it to slightly change the appearance */
canvas[data-id="layer2-node"] {
  /*filter: invert(1) drop-shadow(0px 3px 4px rgba(0,0,0,0.1));*/
  filter: invert(1) contrast(1.1) hue-rotate(180deg) saturate(2);
  opacity: 0.3;
  transition: opacity .2s ease-out;
}

*[id*="cyto-wrapper"]:hover canvas[data-id="layer2-node"] {
  opacity: 1;
}


/* SLIDER */

.bp3-intent-primary {
  background-color: var(--primary) !important;
}

/* CHECKBOX */

.check-container input[checked] + .checkmark {
  background-color: var(--primary) !important;
}

/*
.roam-topbar .bp3-popover-wrapper .bp3-popover-content {
  background-color: #FFFFFF !important;
  color: #000000 !important;
}
.roam-topbar > .bp3-popover-wrapper .bp3-popover-arrow svg * {
  fill: #FFFFFF;
}*/


#buffer {
  background: transparent !important;
}
#buffer .bp3-popover-target >.bp3-button {
  background: rgba(0, 0, 0, 0.1);
}
#buffer > div {
  z-index: 99999 !important;
  background: rgb(var(--primary-light), 0.7) !important;
  backdrop-filter: blur(5px);
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.1)
}
#buffer > div .bp3-button::before {
  color: #FFFFFF !important;
  
}
#buffer .help-title {
  color: var(--external-link) !important;
}
#buffer .help-sub-title {
  color: var(--external-link) !important;
  opacity: 0.5;
}
#buffer span {
  color: rgba(255, 255, 255, 0.8) !important;
}
#buffer a {
  text-decoration: underline;
  color: var(--external-link) !important;
}
#buffer a:hover {
  opacity: 0.5;
}


/* BUTTON */
.block-bullet-view .bp3-button:not([class*="bp3-icon"]) {
  background: transparent !important;
  color: var(--primary) !important;
  padding: 4px 14px;
  line-height: 2em;
  font-weight: 600;
  border-radius: 2em !important;
  border: 1px solid rgba(var(--primary), 0.5) !important;
  box-shadow: none !important;
}
.block-bullet-view .bp3-button:hover {
  background: rgba(var(--primary), 0.2) !important;

}

                       
       /* -------------------------- */
/*---------  END ZENITH LAYOUT COLORS  ----------*/
       /* -------------------------- */









/* Query colors */

.rm-query {
    border: 0.5px solid var(--highlighted-background);
}
.rm-query .rm-query-title {
    color: var(--primary);
    background-color: var(--highlighted-background);
}

@keyframes orb_1 {
    from {
        background: var(--primary-light);
    }
    to {
        background: var(--primary);
    }
}

.bp3-spinner-head {
    stroke: var(--primary) !important;
}


.roam-center > div > div > div svg {
    background-color: var(--main-background) !important;
}


/*RR change: emoji button background and border color*/
div.rm-emoji-button {
  background-color: var(--emoji-bg) !important;
  border: 0.5px solid var(--emoji-border) !important;
  color: var(--emoji-color) !important;
  font-family: var(--main-font);
}


.kanban-board {
  background-color: var(--kanban-board-bg); /*RR change: dark background color for board*/
}
.kanban-column {
  background-color: var(--kanban-column-bg); /*RR change: column background color*/
}
.kanban-title {
  color: var(--kanban-column-font-color); /*RR change: Orange column title color*/
}
.kanban-card {
  background-color: var(--kanban-card-bg); /*RR change: Grey card background color*/
  color: var(--kanban-card-font-color); /*RR change: Blue ard text color*/
}
div.kanban-title,
div.kanban-card {
  font-family: var(--main-font); /*RR change: font*/
}

.roam-body {
  background-color: var(--main-background); /*RR change: Dark background color*/

}
.roam-body .roam-app {
  color: var(--font); /*RR change: lighter text for dark background*/
}
.roam-body .roam-app h1 {
  color: var(--font);
  font-family: var(--main-font); 
}
.roam-body .roam-app .roam-sidebar-container {
  background-color: var(--secondary-background); /*RR change: darken the sidebar*/

}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
  color: var(--font-dark);
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button:hover {
  color: var(--font-hover);
  background-color: var(--secondary-background);
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper {
  color: var(--font-dark);
;
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  color: var(--font-dark);
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover {
  color: var(--font-hover);
  background-color: var(--secondary-background);
}}
.roam-table th,
.roam-table td,
.roam-table tr {
  border: 1px solid var(--table-border); /*RR change: darken border*/
  font-family: var(--main-font); /*RR change: theme font*/
}
.roam-table div {
  font-family: var(--main-font); /*RR change: theme font*/
}
.CodeMirror {
  font-family: var(--code-font); /*RR change: added theme font*/
}
.CodeMirror .CodeMirror-code pre {
  font-family: var(--code-font); /*RR change: added theme font*/
}
.rm-page-ref {
  cursor: pointer;
}
.rm-page-ref:hover {
  text-decoration: underline;
}
.rm-page-ref-tag {
  /*color: #a7b6c2;*/
  color: var(--tag); /*RR change: theme color*/
  background-color: transparent; border-radius: 3px; padding: 2px 3px 2px 3px;
}

/*RR change: added tag hover style*/
.rm-page-ref-tag:hover,
span.rm-page-ref.rm-page-ref-tag:hover {
  color: var(--font-hover) !important;
  background-color: var(--secondary-background);
  text-decoration: none;

}
.rm-page-ref-brackets {
  /*color: #a7b6c2;*/
  color: var(--primary); /*RR change: fade back the brackets in regular text*/
}
.rm-page-ref-link-color {
  /*color: #106ba3;*/
  color: var(--primary-light); /*RR change: theme color*/
}
.rm-page-ref-namespace-color {
  color: var(--primary-light);
}
.rm-block-ref {
  border-bottom: 1px solid var(--reference);
  font-size: var(--block-ref-font-size);
  background-color: var(--secondary-background);
}
div.rm-block-ref {
  font-family: var(--main-font);
}
.rm-block-ref:hover {
  background-color: var(--highlighted-background);
  color: var(--font-hover);
}
/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  border: 1px solid var(--primary); /*RR change: added blue border*/
}
.check-container input:checked ~ .checkmark {
  background-color: var(--primary);
  border: none;
}

.rm-find-or-create-wrapper .rm-menu-item .rm-search-title .rm-new-page {
  color: var(--primary);
}
.rm-pages-row-highlight {
  background-color: var(--main-background); /*RR change: dark alternating row color*/
}
.rm-pages-row:first-child { /*RR change: Table Header*/
  background-color: var(--highlighted-background) !important;
}
.rm-pages-row .rm-pages-title-col a strong { /*RR change: Page Title*/
  color: var(--primary-light) !important;
}
a.rm-pages-title-text {
  color: var(--primary-light) !important;
}

.rm-reference-item {
  background-color: var(--secondary-background);
}

/*RR change: reference item page link font*/
.rm-reference-item div {
  font-family: var(--main-font);
}

/*RR change: reference font*/
div.rm-reference-container {
  font-family: var(--main-font);
}

.rm-level1 div.rm-block-text {
  font-family: var(--main-font); /*RR change: font change*/
}
/* .rm-level2 div.rm-block-text{ */
.rm-level2 div.rm-block-text {
  font-family: var(--main-font);
}
.rm-level3 div.rm-block-text {
  font-family: var(--main-font);
}

.roam-highlight {
  background-color: var(--highlight);
  color: var(--main-background); /*RR change: invert the highlighted text color*/
}
.roam-highlight .rm-page-ref-link-color {
  color: var(--primary);
}
.rm-encrypted-block {
  color: var(--encrypted-font-color);
  background-color: var(--encrypted-bg);
}
.roam-bullet-closed {
  background-color: var(--primary); /*RR change: orange color to match open bullets*/
}
#right-sidebar .roam-bullet-closed {
  background-color: var(--primary); /*RR change: orange color to match open bullets*/
}



/*RR change: added missing style*/
.level2 {
  /* font-family: Roboto,sans-serif; */
  font-family: var(--main-font);
  color: var(--font);
}
.level3 {
  /* font-family: Roboto,sans-serif; */
  font-family: var(--main-font);
  color: var(--font);
}

.roam-app h1 {
  color: var(--font);
}
.roam-app h2 {
  color: var(--font);
}
.roam-app h3 { 
  color: var(--font);
}


.block-highlight-grey {
  background-color: var(--primary-dark-accent);
}
.block-highlight-blue {
  /*background-color: #7cccff;*/
  background-color: var(--primary-dark); /*RR change: Darker Blue for readability*/
}
.block-highlight-yellow {
  /* background-color: yellow; */
  background-color: var(--block-highlight-bg); /*RR change: added variable*/
}
.block-border-left {
  /*border-left: 1px solid #bfccd6;*/
  border-left: 1px solid var(--highlighted-background); /*RR change: lighter bullet tree outline*/
}

/*RR change: theme font catch-all*/
div.roam-block {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
}
#roam-right-sidebar-content div {
  font-family: var(--main-font);
}

/*RR change: Theme body font settings*/
div.rm-block-text {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
}
.rm-block-input {
  background-color: var(--current-block-highlight);
}


.controls .simple-bullet-outer {
  margin-top: var(--bullet-position); /*RR change: added variable for adjustment*/
}
.controls .simple-bullet-outer .simple-bullet-inner {
  background-color: var(--primary-light); /*RR change: dark orange bullet*/
}


.block-ref-count-button {
  /* font-size: 0.9em; */
  font-size: var(--ref-count-font-size); /*RR change: added variable*/
}

.rm-embed-container{
    background-color: var(--secondary-background) !important;
}


textarea {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
}

/*RR change: Icon color*/
.bp3-button .bp3-icon, 
.bp3-button .bp3-icon-standard, 
.bp3-button 
.bp3-icon-large {
  color: var(--primary);
}

.bp3-icon-graph:before,
.bp3-icon-star:before,
.bp3-icon-star-empty:before,
.bp3-icon-more:before,
.bp3-icon-menu:before,
.bp3-button:before, 
.bp3-minimal:before, 
.bp3-small:before, 
.bp3-icon-filter {
  color: var(--primary);
}

.bp3-button:not([class*="bp3-intent-"]) {
  color: var(--primary);
  background-color: transparent;
}
.bp3-button:not([class*="bp3-intent-"]):hover {
  /* background-color: rgba(167,182,194,0.3); */
  background-color: var(--highlighted-background);
  color: var(--primary-light);
}

.bp3-button.bp3-small:not([class*="bp3-minimal"]) {
  color: var(--primary);
}
.bp3-button.bp3-small:not([class*="bp3-minimal"]):hover {
  /* background-color: rgba(167,182,194,0.3); */
  background-color: var(--highlighted-background);
  color: var(--primary-light);
}

.bp3-button.bp3-minimal:hover {
    background: rgba(var(--primary), 0.4) !important;
    color: var(--primary) !important;
}
.bp3-button.bp3-minimal::before, .bp3-button.bp3-minimal *, .bp3-button.bp3-minimal *::before {
    color: var(--primary) !important;
}
.bp3-button.bp3-minimal:hover::before, .bp3-button.bp3-minimal:hover *, .bp3-button.bp3-minimal:hover *::before {
    color: var(--primary) !important;
}
*[class*="bp3-icon"], *[class*="bp3-icon"]::before {
    color: var(--primary) !important;
}
.version-bullet {
    background-color: var(--highlighted-background) !important;
    color: var(--primary) !important;
}
#roam-right-sidebar-content > div .bp3-icon-minus ~ button.bp3-button {
    color: var(--primary) !important;
}
.roam-topbar .bp3-icon-star::before {
    color: var(--primary) !important;
}


/*RR change: Roam Search Bar*/

/* Roam Search Box Placeholder Text Color */
.bp3-input::placeholder,
.bp3-input-group > .bp3-icon {
    color: var(--font);
}

/* Input Text Color */
.bp3-input {
  color: var(--font);
}

/* Roam Search Box Field and Border */
.bp3-input,
.bp3-input[readonly]{ 
  background: var(--highlighted-background);
  box-shadow: inset 0 0 0 1px var(--highlighted-background);
}

/*RR change: additional text styles*/
.roam-app strong {
  color: var(--primary) !important;
}

.roam-app em {
  color: var(--italics);
}

/*RR change: Markdown Links */

.roam-app a {
  color: var(--external-link);
}

.roam-app a:focus, 
.roam-app a:hover {
  color: var(--external-link);
  text-decoration: underline;
}

#roam-right-sidebar-content a {
  color: var(--external-link);
}
.roam-right-sidebar-content a:focus, 
.roam-right-sidebar-content a:hover {
  color: var(--external-link);
  text-decoration: underline;
}
hr {
  border-top: 1px solid var(--font-dark);
}

/*RR change: Sidebar modifications*/
#right-sidebar {
  background-color: var(--main-background) !important;
}

#all-pages-search div {
  font-family: var(--main-font);
}

/* Context Menus */
.bp3-popover .bp3-popover-content,
.bp3-menu {
  background: var(--highlighted-background);
  color: var(--font);
}

.bp3-popover .bp3-popover-arrow-fill {
    fill: var(--highlighted-background);
}

.bp3-datepicker {
  background-color: var(--datepicker-bg);
}

.bp3-datepicker .DayPicker-Day.DayPicker-Day--isToday .bp3-datepicker-day-wrapper {
    border: 1px solid var(--primary);
}

.bp3-html-select.bp3-minimal select {
  color: var(--font);
  background-color: var(--highlighted-background);  
}

/* Slash Popup */
div.bp3-elevation-3 {
  /* color: #1775db; */
  color: var(--font);
  background-color: var(--highlighted-background) !important;
}
[title~=Search] {
  color: var(--font) !important; /*RR change: Bi-directional place holder text*/
}
.bp3-elevation-3 .dont-unfocus-block[style*="background-color: rgb(213, 218, 223);"],
.bp3-popover-content .rm-menu-item[style*="background-color: rgb(213, 218, 223);"]  {
  background-color: #4c4c4c !important;    
}

.trans {
  background-color: transparent;
}

/*RR change: Breadcrumb navigation background color override*/
.parent-path-wrapper div div {
  background-color: transparent !important;
}

blockquote {
  border-left: 5px solid var(--blockquote-border-color);
  color: var(--blockquote-font-color);
  background-color: var(--blockquote-bg);
}

blockquote .small, blockquote footer, blockquote small {
    color: var(--blockquote-cite);
}

select {
  background-color: var(--highlighted-background) !important;
  border-color: var(--highlighted-background);
}

/*RR change: This section contains a series of very specific overrides that are extremely fragile and will probably break with any minor update*/

/*RR change: Very fragile override for alias styes, will probably break*/
span[style^='background-color: rgb(235, 241, 245); border-radius: 4px; cursor: alias; color: rgb(245, 86, 86); padding: 4px 6px;'] {
  background-color: var(--alias-bg) !important;
  color: var(--alias-font-color) !important;
}

/*RR change: Very fragile override for the filter icon backgroung when a filter is applied*/
/* these might already be broken */
span[style*='background-color: red;'] {
  background-color: var(--filter-bg-subtract) !important;
}
span[style*='background-color: green;'] {
  background-color: var(--filter-bg-add) !important;
}

/*RR change: Very fragile overrides for a page embed*/
.roam-block div[style*="background-color: rgb(235, 241, 245);" ] {
  background-color: var(--secondary-background) !important;
}
.roam-block div[style*="background-color: rgb(235, 241, 245);" ] h2 {
background-color: transparent;
}

.bp3-button.bp3-intent-primary {
    background-color: var(--primary);
}

.bp3-button.bp3-intent-primary:hover {
    background-color: var(--primary);
}

/*RR change: Diagram styles*/
div[style*="position: absolute;background-color: white;border: 1px solid lightgrey;border-radius: 0px 0px 4px;padding: 5px;top: 0px;left: 0px;"], 
div[style*="position: absolute; background-color: white; border: 1px solid lightgrey; border-radius: 0px 0px 4px; padding: 5px; top: 0px; left: 0px;"] 
{
  background-color: var(--kanban-board-bg) !important;
  border-color: var(--kanban-card-bg) !important;
}

input, button {
  background-color: var(--secondary-background);
  border: 1px solid var(--primary-light);
}
  
button[style*="border: 0.5px solid rgb(206, 217, 224);"] {
  background-color: var(--secondary-background) !important;
  border: 1px solid var(--secondary-background) !important;
}
button[style*="background-color: rgba(72, 176, 240, 0.5);"]{
  background-color: var(--secondary-background) !important;
  border: 1px solid var(--primary) !important;
}




/* -------------------------- */
/*         MOBILE             */
/* -------------------------- */



@media only screen and (max-width: 600px) {
    .roam-topbar::before {
        background-color: var(--main-background) !important;
    }
}
                                           
#mobile-capture {
    background-color: var(--main-background) !important;
}

#mobile-capture textarea, #mobile-capture input {
    background-color: var(--secondary-background) !important;
}
#mobile-capture textarea::placeholder, #mobile-capture input::placeholder {
    color: var(--font) !important;
}
#rm-mobile-bar {
    background-color: var(--highlighted-background) !important;
}
#rm-mobile-bar .bp3-button::before, #rm-mobile-bar .bp3-button i::before {
    color: var(--primary) !important;
}




/* ------------- Red Pomodoro ------------- */
/* credit: https://github.com/theianjones/roam-research-themes/blob/master/pomodoros.css */
.rm-pomodoro {
    background: transparent !important;
    color: #ff4747 !important;
    padding: 4px 14px;
    line-height: 2em;
    font-weight: 600;
    border-radius: 2em;
    border: 1px solid #ff474770;
  }
  
  .rm-pomodoro::first-letter {
    margin-right: 8px;
  }


/* --------- EQUATION BLOCKS ---------- */

.rm-block-text svg :not(.katex) {
    background-color: var(--secondary-background) !important;
    border: none !important;
}

.roam-center > div > div > div svg :not(.katex) {
    background-color: var(--secondary-background) !important;
}


/* --------- CODE ---------- */


/*RR change: Codemirror adjustments*/

/* RR Change: single backtick code snippets */
code { 
    background-color: var(--main-background);
    border-radius: 3px;
    color: var(--font);
    border: 0px solid #13191e;
    padding: 3px 4px 3px 4px;
    font-family: var(--code-font);
}

/*
    Name:       Railscasts
    Author:     Ryan Bates (http://railscasts.com)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/

div.CodeMirror .CodeMirror-code pre {
  font-family: var(--code-font);
  line-height: 1.5em;
  font-size: 1.1em;
}

/*<!--activeline-->*/
.CodeMirror-activeline-background { background: var(--highlighted-background); }

.CodeMirror {background: var(--main-background); color: var(--font); font-size: 0.85em;}
div.CodeMirror-selected {background: var(--highlighted-background) !important;}
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: rgba(68, 68, 119, .99); }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: rgba(68, 68, 119, .99); }
.CodeMirror-gutters {background: var(--highlighted-background); border-right: 1px solid var(--highlighted-background);}
.CodeMirror-guttermarker { color: white !important; }
.CodeMirror-guttermarker-subtle { color: #bbb !important; }
.CodeMirror-linenumber {color: var(--primary-light);}
.CodeMirror-cursor {border-left: 1px solid var(--font-dark) !important;}

span.cm-qualifier { color: #666666 !important; }
span.cm-comment {color: var(--reference);}
span.cm-atom {color: var(--primary-dark);}
span.cm-number {color: var(--primary-dark);}
span.cm-attribute { color: #ffd500 !important; }
.cm-s-default .cm-number {color: var(--primary-dark);}

span.cm-property,  span.cm-attribute {color: var(--external-link);}
span.cm-keyword {color: var(--highlight);}
.cm-s-default .cm-keyword {color: var(--highlight);}
span.cm-string {color: var(--reference);}
.cm-s-default .cm-string {color: var(--reference);}

span.cm-variable {color: var(--primary-light);}
span.cm-variable-2 {color: var(--external-link);}
span.cm-variable-3, span.cm-def, span.cm-type { color: white !important; }
span.cm-def {color: var(--reference);}
span.cm-error {/*background: #da4939;*/ color: var(--tag);}
span.cm-bracket {color: var(--font);}
span.cm-builtin, pan.cm-special { color: #ff9e59 !important; }
span.cm-tag {color: var(--tag);}
span.cm-link {color: var(--primary-dark);}
span.cm-meta { color: #369BFF !important; }


.cm-s-default .cm-atom { color: var(--primary-dark);}

/* .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;} */
.CodeMirror-matchingbracket { outline:1px solid var(--reference); color:#fff !important; }
.CodeMirror-activeline-background { background: var(--primary); }

.CodeMirror pre {background: var(--main-background);}


.CodeMirror-lines {background: var(--secondary-background);}
.CodeMirror-activeline pre {background: var(--highlighted-background); /* SPM ADDED */}
